.body-layout {
    background: #fff;
    padding: 1rem;
}


/*breadcrumb*/

.breadcrumb {
    li {
        font-size: 13px;
    }
}

.accordion-button {
    padding: 10px;
}

.mat-drawer-container {
    position: inherit !important;
}

.mat-drawer-content {
    position: inherit !important;
    background: #f0f1f1;

}

.body-layout{
    background: #f0f1f1;

}