<app-header></app-header>
<section class="menu-single-page p-b-60">

    <!-- HERO -->
    <section class="blog-hero">
        <div class="container">
            <h1 data-aos="zoom-in" data-aos-delay="100"> N&N Silver</h1>
            <p data-aos="fade-up" data-aos-delay="200">
                Latest tips, ideas, and inspiration for catering & event planning
            </p>
        </div>
    </section>

    <section class="single-menu-section m-t-60">

        <div class="container">

            <div class="single-menu-grid">

                <div class="menu-image" data-aos="fade-right" data-aos-duration="800">
                    <!-- <img src="https://images.unsplash.com/photo-1600891964599-f61ba0e24092?w=800" alt="Silver Menu"> -->

                    <img [src]="" alt="">
                </div>

                <div class="menu-details" data-aos="fade-left" data-aos-duration="800">

                    <h3>{{packageDetail.packageName}}</h3>
                    <span>Conditions Apply *</span>
                    <h4>Rs {{packageDetail.price}}</h4>

                    <!-- <ul>
                        <li><strong>Snacks:</strong> 2 Items</li>
                        <li><strong>Main Course:</strong> 8 Items</li>
                        <li><strong>Pickle:</strong> 5 Items</li>
                        <li><strong>Salad:</strong> 5 Items</li>
                        <li><strong>Dessert:</strong> 2 Items</li>
                    </ul> -->

                    <p>{{packageDetail.description}}</p>

                    <a href="/contact" class="btn btn-primary">Book Now <i class="ri-arrow-right-line"></i></a>
                    <!-- <a [routerLink]="['/menu-single', 3]" class="btn btn-primary">
                        View Menu
                        <i class="ri-arrow-right-long-line"></i>
                    </a> -->

                </div>

            </div>

        </div>

    </section>
</section>
<app-footer></app-footer>