<div class="th-menu-wrapper">
    <div class="th-menu-area text-center">
        <button class="th-menu-toggle"> <i class="fa-solid fa-xmark"></i></button>

        <div class="th-mobile-menu">
            <ul>
                <li class="menu-item-has-children">
                    <a href="home-organic-farm.html">Home</a>
                    <ul class="sub-menu">
                        <li><a href="home-organic-farm.html">Organic Farm</a></li>
                        <li><a href="home-organic-food.html">Organic Food</a></li>
                        <li><a href="home-mega-shop.html">Mega Shop</a></li>
                    </ul>
                </li>
                <li><a href="about.html">About Us</a></li>
                <li class="menu-item-has-children">
                    <a href="#">Service</a>
                    <ul class="sub-menu">
                        <li><a href="service.html">Service</a></li>
                        <li><a href="service-details.html">Service Details</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Pages</a>
                    <ul class="sub-menu">
                        <li class="menu-item-has-children">
                            <a href="#">Shop</a>
                            <ul class="sub-menu">
                                <li><a href="shop.html">Shop</a></li>
                                <li><a href="shop-details.html">Shop Details</a></li>
                                <li><a href="cart.html">Cart Page</a></li>
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                            </ul>
                        </li>
                        <li><a href="team.html">Team</a></li>
                        <li><a href="team-details.html">Team Details</a></li>
                        <li><a href="project.html">Project Gallery</a></li>
                        <li><a href="project-details.html">Project Details</a></li>
                        <li><a href="faq.html">Faq Page</a></li>
                        <li><a href="error.html">Error Page</a></li>
                    </ul>
                </li>
                <li class="menu-item-has-children">
                    <a href="#">Blog</a>
                    <ul class="sub-menu">
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="blog-details.html">Blog Details</a></li>
                    </ul>
                </li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </div>
    </div>
</div>

<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="row">

                <div class="col-md-6 d-none d-xl-block">
                    <div class="header-address">
                        <i class="ri-map-pin-line me-2"></i>
                        <span>kapan, Kathmandu, Nepal, 44600</span>
                    </div>
                </div>
                <div class="col-lg-7 col-xl-6 d-flex justify-content-end">
                    <ul class="header-info">
                        <li>
                            <i class="ri-alarm-line me-2"></i>
                          <span>We're Open! Mon - Sat: 9:00 AM - 6:00 PM</span> 
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="header-middle">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6">
                    <div class="logo">
                        <img src="../../assets/img/logo.jpg" alt="" height="60px">
                        <div>
                            <h2>N & N Catering Event <br> Management Service</h2>

                        </div>
                    </div>

                </div>
                <div class="col-md-6">
                    <div class="header-contact">

                        <div class="contact-box-item">
                            <i class="ri-phone-line"></i>
                            <div>
                                <small>Contact us</small>
                                <p>
                                    <a href="tel:+977- 986-0739065"> 986-0739065,</a> /
                                    <a href="tel:+977- 9810158390"> 9810158390,</a>

                                </p>
                            </div>
                        </div>

                        <div class="contact-box-item">
                            <i class="ri-mail-line"></i>
                            <div>
                                <small>Email us on</small>
                              <p><a href="mailto:dahalns2071@gmail.com">dahalns2071&#64;gmail.com</a></p>  
                            </div>
                        </div>

                    </div>
                </div>
            </div>



        </div>
    </div>
</header>
<menu [ngClass]="{ 'sticky': isSticky }" class="menu d-none d-lg-block">
    <div class="container ">
        <nav class="main-menu d-none d-lg-inline-block">
            <ul>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink="">Home</a>
                </li>

                <li class="menu-item-has-children" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">

                    <a>About us</a>

                    <ul class="sub-menu">
                        <li routerLinkActive="active">
                            <a routerLink="/test1">Test 1</a>
                        </li>

                        <li routerLinkActive="active">
                            <a routerLink="/test2">Test 2</a>
                        </li>
                    </ul>
                </li>


                <li class="menu-item-has-children" routerLinkActive="active">
                    <a>Products</a>
                    <ul class="sub-menu">
                        <li routerLinkActive="active"><a routerLink="/shop/categories">Product Categories</a></li>
                        <li routerLinkActive="active"><a routerLink="/shop/shop-single">Product Details</a></li>
                        <li routerLinkActive="active"><a routerLink="/shop/shop-cart">Cart Page</a></li>

                    </ul>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="/blog">Blog</a>
                </li>

                <li routerLinkActive="active">
                    <a href="#">Gallery</a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="/contact">Contact</a>
                </li>

            </ul>
        </nav>
    </div>
</menu>

