<div class="th-menu-wrapper">
    <div class="th-menu-area text-center">
        <button class="th-menu-toggle"> <i class="fa-solid fa-xmark"></i></button>

        <div class="th-mobile-menu">
            <ul>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink="">Home</a>
                </li>

                <li routerLinkActive="active">

                    <a routerLink="/about">About us</a>


                </li>

                <li class="th-item-has-children" routerLinkActive="active">
                    <a>Products</a>
                    <ul class="sub-menu">
                        <li routerLinkActive="active"><a routerLink="/shop/categories">Product Categories</a></li>
                        <li routerLinkActive="active"><a routerLink="/shop/shop-single">Product Details</a></li>
                        <li routerLinkActive="active"><a routerLink="/shop/shop-cart">Cart Page</a></li>

                    </ul>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="/services">services</a>
                </li>


                <li routerLinkActive="active">
                    <a routerLink="/blog">News & Events</a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="/menu">Menus</a>
                </li>


                <li routerLinkActive="active">
                    <a routerLink="/reservation">Reservation</a>
                </li>


                <li routerLinkActive="active">
                    <a routerLink="/gallery">Gallery</a>
                </li>



                <li routerLinkActive="active">
                    <a routerLink="/contact">Contact</a>
                </li>

            </ul>
        </div>
    </div>
</div>

<header class="header">
    <div class="header-top">
        <div class="container">
            <div class="row">

                <div class="col-md-6 col-lg-6">
                    <div class="header-address">
                        <i class="ri-map-pin-line me-2"></i>
                        <span>Kapan, Kathmandu, Nepal, 44600</span>
                    </div>
                </div>
                <div class="col-md-6 col-lg-6 d-flex justify-content-md-end">
                    <ul class="header-info">
                        <li>
                            <i class="ri-alarm-line me-2"></i>
                            <span>We're Always Open! Sun - Sat: 9:00 AM - 6:00 PM</span>
                        </li>

                    </ul>
                </div>
            </div>
        </div>

    </div>
    <div class="header-middle">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-10  col-lg-6">
                    <div class="logo d-flex   justify-content-lg-start">
                        <img src="../../assets/img/logo.jpg" alt="" height="60px">
                        <div>
                            <h2>N & N Catering Event <br> Management Service</h2>

                        </div>
                    </div>

                </div>
                <div class="col-lg-6 d-none d-lg-flex justify-content-lg-end">
                    <div class="header-contact  mt-4 mt-lg-0">

                        <div class="contact-box-item">
                            <i class="ri-phone-line"></i>
                            <div>
                                <small>Contact us</small>
                                <p>
                                    <a href="tel:+977-986-0739065"> 986-0739065,</a> /
                                    <a href="tel:+977-9810158390"> 9810158390,</a>

                                </p>
                            </div>
                        </div>

                        <div class="contact-box-item">
                            <i class="ri-mail-line"></i>
                            <div>
                                <small>Email us on</small>
                                <p><a href="mailto:dahalns2071@gmail.com">dahalns2071&#64;gmail.com</a></p>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-2 col-lg-6 d-flex d-lg-none justify-content-end">
                    <button type="button" class="th-menu-toggle">
                        <i class="fa-solid fa-bars"></i>

                    </button>
                </div>
            </div>
        </div>
    </div>
</header>
<menu [ngClass]="{ 'sticky': isSticky }" class="menu d-none d-lg-block">
    <div class="container ">
        <nav class="main-menu d-none d-lg-inline-block">
            <ul>

                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink="">Home</a>
                </li>

                <li routerLinkActive="active">

                    <a routerLink="/about">About us</a>


                </li>


                <!-- <li class="menu-item-has-children" routerLinkActive="active">
                    <a>Products</a>
                    <ul class="sub-menu">
                        <li routerLinkActive="active"><a routerLink="/shop/categories">Product Categories</a></li>
                        <li routerLinkActive="active"><a routerLink="/shop/shop-single">Product Details</a></li>
                        <li routerLinkActive="active"><a routerLink="/shop/shop-cart">Cart Page</a></li>

                    </ul>
                </li> -->


                <li routerLinkActive="active">
                    <a routerLink="/services">services</a>
                </li>


                <li routerLinkActive="active">
                    <a routerLink="/blog">News & Events</a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="/menu">Menus</a>
                </li>


                <li routerLinkActive="active">
                    <a routerLink="/reservation">Reservation</a>
                </li>


                <li routerLinkActive="active">
                    <a routerLink="/gallery">Gallery</a>
                </li>



                <li routerLinkActive="active">
                    <a routerLink="/contact">Contact</a>
                </li>

            </ul>
        </nav>
    </div>
</menu>

<div class="social-fixed">
    <!-- 
        <a href="#" class="bookNow" ngbTooltip="Book Now" placement="left" target="_blank">
     <i class="ri-git-repository-line"></i>
    </a> -->

    <a href="https://www.facebook.com/profile.php?id=100084713934927" class="facebook" target="_blank"
        ngbTooltip="Facebook" placement="left">
        <i class="ri-facebook-fill"></i>
    </a>

    <a href="#" class="youtube" ngbTooltip="Youtube" placement="left" target="_blank">
        <i class="ri-youtube-fill"></i>
    </a>

    <a href="#" class="instagram" ngbTooltip="Instagram" placement="left" target="_blank">
        <i class="ri-instagram-line"></i>
    </a>

    <a href="#" class="whatsapp" ngbTooltip="Whatsapp" placement="left" target="_blank">
        <i class="ri-whatsapp-line"></i>
    </a>



</div>