<footer class="footer">

    <div class="container">

        <div class="social-icons">

            <a href="https://www.facebook.com/profile.php?id=100084713934927" target="_blank" class="fb"
                title="Facebook">
                <i class="ri-facebook-line"></i>
            </a>

            <a href="#" class="insta" title="Instagram" target="_blank">
                <i class="ri-instagram-line"></i>
            </a>

            <a href="#" class="ytb" title="Youtube" target="_blank">
                <i class="ri-youtube-line"></i>
            </a>

            <a href="#" class="whatsap" title="Whatsapp" target="_blank">
                <i class="ri-whatsapp-line"></i>
            </a>




        </div>


        <div class="col-md-10 mx-auto d-flex gap-4 justify-content-center">
            <p>
                <i class="ri-phone-line me-1"></i> Nepal, Kathmandu, Nepal-44600
            </p>

            <p>
                <i class="ri-map-pin-line me-1"></i>
                <a href="tel:+977-986-0739065"> 986-0739065,</a> /
                <a href="tel:+977-9810158390"> 9810158390,</a>
            </p>

            <p>
                <i class="ri-mail-line me-1"></i> <a href="mailto:dahalns2071@gmail.com">dahalns2071&#64;gmail.com</a>
            </p>

        </div>




        <div class="copyright">
            Copyright © 2026 N & N Catering Event Management Service.
        </div>

    </div>

</footer>