<footer class="footer">

    <div class="container">

        <div class="social-icons">

            <a href="#" class="fb" title="Facebook">
                <i class="ri-facebook-line"></i>
            </a>

            <a href="#" class="instagram" title="Instagram">
                <i class="ri-instagram-line"></i>
            </a>

            <a href="#" class="ytb" title="Youtube">
                <i class="ri-youtube-line"></i>
            </a>

        </div>

        <p>
            Nepal, Kathmandu, Nepal-44600
        </p>

        <p>
            <a href="tel:+977- 986-0739065"> 986-0739065,</a> /
            <a href="tel:+977- 9810158390"> 9810158390,</a>
        </p>

        <p>
            <a href="mailto:dahalns2071@gmail.com">dahalns2071&#64;gmail.com</a>
        </p>

        <div class="copyright">
            Copyright © 2026 N & N Catering Event Management Service.
        </div>

    </div>

</footer>