<section class="login col-10 col-md-6  col-xl-4 mx-auto m-t-56 module">
    <h2>Login</h2>
    <form action="">
        <div class="mb-3">
            <label for="">Username or Email address</label>
            <input type="text" class="form-control">

        </div>
        <div class="mb-3">
            <label for="">Password</label>
            <input type="password" class="form-control">

        </div>
        <button type="submit" class="btn btn-secondary  w-100 m-t-8">Login</button>
         <p class="m-t-12 text-center"> Don't have an account? <a routerLink="/register" class="btnLink">Sign Up</a></p>
    </form>
</section>