<section class="menu-section m-t-60">

    <div class="container">

        <div class="section-header m-b-40">
            <div class="text-center m-b-16">
                <div class="menu-title">
                    <span>Menu List</span>
                </div>
            </div>


            <h2 class="text-center mb-0">
                Choose Your Menu
            </h2>
        </div>


        <div class="menu-grid">

            <!-- CARD -->

            <div class="menu-card silver" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">

                <h3>N&N Silver</h3>
                <span>Conditions Apply *</span>

                <img src="../../../../assets/img/silver-menu.jpg" alt="">

                <p>
                    Snacks [2], Main Course [8], Pickle [5],
                    Salad [5], Dessert [2]
                </p>

                <a routerLink="/menu-single" class="btn btn-outline-white">
                    View Menu
                    <i class="ri-arrow-right-long-line"></i>
                </a>

            </div>

            <!-- CARD -->

            <div class="menu-card gold" data-aos="fade-up" data-aos-duration="800" data-aos-delay="250">

                <h3>N&N Gold</h3>
                <span>Conditions Apply *</span>

                <img src="../../../../assets/img/gold-menu.jpg" alt="">

                <p>
                    Snacks [3], Main Course [10], Pickle [5],
                    Salad [5], Dessert [3]
                </p>

              <a routerLink="/menu-single" class="btn btn-outline-white">
                    View Menu
                    <i class="ri-arrow-right-long-line"></i>
                </a>

            </div>

            <!-- CARD -->

            <div class="menu-card diamond" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">

                <h3>N&N Diamond</h3>

                <span>Conditions Apply *</span>

                <img src="../../../../assets/img/dimond-menu.jpg" alt="">

                <p>
                    Snacks [5], Main Course [12], Pickle [5],
                    Salad [5], Dessert [5]
                </p>

              <a routerLink="/menu-single" class="btn btn-outline-white">
                    View Menu
                    <i class="ri-arrow-right-long-line"></i>
                </a>

            </div>

        </div>

    </div>

</section>