<section class="menu-section m-t-60">
    <div class="container">

        <div class="section-header m-b-40">
            <div class="text-center m-b-16">
                <div class="menu-title">
                    <span>Menu List</span>
                </div>
            </div>
            <h2 class="text-center mb-0">Choose Your Menu</h2>
        </div>

        <div *ngIf="isLoading" class="text-center my-5">
            <div class="spinner-border text-primary" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>

        <div class="menu-grid" *ngIf="!isLoading">

            <div *ngFor="let item of packageList; let i = index" class="menu-card" [ngClass]="{
                    'silver': i % 3 === 0,
                    'gold': i % 3 === 1,
                    'diamond': i % 3 === 2
                 }" data-aos="fade-up" [attr.data-aos-duration]="800" [attr.data-aos-delay]="100 * (i + 1)">

                <h3>{{ item.packageName }}</h3>
                <span>Conditions Apply *</span>

                <img [src]="item.imageUrl || '../../../../assets/img/silver-menu.jpg'" [alt]="item.packageName">

                <p>{{ item.description }}</p>

                <a [routerLink]="['/menu-single', item.packageId || item.id]" class="btn btn-outline-white">
                    View Menu
                    <i class="ri-arrow-right-long-line"></i>
                </a>

  

            </div>

        </div>
    </div>
</section>