<section class="blog-single p-t-32">
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Blog</li>
            </ol>


        </nav>
        <div class="row p-t-32">
            <div class="col-lg-8 col-md-12">
                <div class="blog-post">

                    <div class="blog-post__img">
                        <img src="../../../assets/img/blogs/blog1.jpg" alt="">
                    </div>

                    <div class="blog-body">
                        <div class="blog-post__meta m-b-8">
                            <div class="card-admin">
                                <i class="fa-solid fa-user me-1"></i>
                                <span>By Admin</span>
                            </div>
                            <div class="blog-post__date">
                                <i class="fa-solid fa-calendar-days text-accent me-1"></i><span>Jan
                                    4, 2021</span>
                            </div>

                        </div>
                        <div class="blog-post__content m-t-24">
                            <h2>Unsatiable entreaties may collecting Power.</h2>
                            <p>It is a long established fact that a
                                reader will be distracted by the
                                readable content of a page when looking
                                at its layout. The point of using Lorem
                                Ipsum The man, who is in a stable
                                condition in hospital, has “potentially
                                life-changing injuries” after the
                                overnight attack in Garvagh, County Lono
                                donderry. He was shot in the arms and
                                legs.”What sort of men would think it is
                                accepttable to sub ject a young girl to
                                this level of brutality and violence?</p>
                            <p>“Every child has the right to feel safe
                                and protected in their own home – how is
                                this poor child going to sleep tonight
                                or in coming nights? What are the long
                                term effects on her going to be?”</p>
                            <h3 class="single-title">Content without
                                backward-compatible data.</h3>
                            <p>Their community. I wonder how they wou if
                                their own child witnessed such a level
                                of violence?</p>
                            <p>“There is absolutely no justification for
                                an attack like this in our communities
                                and we must all work together to bring
                                those responsible to justice and to stop
                                this from happening to another child.”</p>
                            <ul>
                                <li>e is absolutely no justification for
                                    an attack like this in our communities
                                    and we must all work together</li>
                                <li>e is absolutely no justification for
                                    an attack like this in our</li>
                                <li>e is absolutely no justification for
                                    an attack like this in our communities
                                    and we</li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-4 col-md-12">
                <aside class="sidebar">
                    <div class="medias medias--sidebar m-b-20">
                        <h3 class="title"><span>Related post</span> </h3>
                        <div class="media media--sidebar">
                            <a href="">
                                <img class="me-3" src="../../../assets/img/blogs/blog1.jpg" alt="">
                            </a>
                            <div class="media-body">
                                <p class="media-date">
                                    <i class="fa-solid fa-calendar-days text-accent me-2"></i>March 5,
                                    2026
                                </p>
                                <h3 class="media-title">
                                    <a href="">
                                        Eiusmod tempor incidids
                                        labore sed at dolore magna

                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="media media--sidebar">
                            <a href="">
                                <img class="me-3" src="../../../assets/img/blogs/blog2.jpg" alt="">
                            </a>
                            <div class="media-body">
                                <p class="media-date"><i class="fa-solid fa-calendar-days text-accent me-2"></i>March 5,
                                    2026</p>
                                <h3 class="media-title">
                                    <a href="">
                                        Eiusmod tempor incidids
                                        labore sed at dolore
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="media media--sidebar">
                            <a href="">
                                <img class="me-3" src="../../../assets/img/blogs/blog3.jpg" alt="">
                            </a>
                            <div class="media-body">
                                <p class="media-date"><i class="fa-solid fa-calendar-days text-accent me-2"></i>March 5,
                                    2026</p>
                                <h3 class="media-title">
                                    <a href="">
                                        Eiusmod tempor incidids
                                        labore sed at
                                    </a>
                                </h3>
                            </div>
                        </div>
                        <div class="media media--sidebar">
                            <a href="">
                                <img class="me-3" src="../../../assets/img/blogs/blog4.jpg" alt="">
                            </a>
                            <div class="media-body">
                                <p class="media-date"><i class="fa-solid fa-calendar-days text-accent me-2"></i>March 5,
                                    2026</p>
                                <h3 class="media-title">
                                    <a href="">
                                        Eiusmod tempor incidids
                                        labore sed at dolore
                                    </a>
                                </h3>
                            </div>
                        </div>
                    </div>

                </aside>
            </div>
        </div>
    </div>

</section>