<section class="page-shop-categories p-t-32">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Categories</li>
            </ol>
        </nav>

        <div class="row m-t-32">
            <div class="col-md-3">
                <div class="shop-sidebar">
                    <div class="widget-category">
                        <h2 class="widget-title">
                            <span>Category</span>
                        </h2>
                        <ul class="widget-category">
                            <li><a href="#!">Motorbike parts<i class="fa fa-chevron-right"></i></a></li>
                            <li><a href="#!">Car parts Name<i class="fa fa-chevron-right"></i></a></li>
                            <li><a href="#!">Bicycle Parts<i class="fa fa-chevron-right"></i></a></li>
                            <li><a href="#!">Taxi bike parts<i class="fa fa-chevron-right"></i></a></li>
                            <li><a href="#!">Double decker bus<i class="fa fa-chevron-right"></i></a></li>
                            <li><a href="#!">Tractor parts<i class="fa fa-chevron-right"></i></a></li>
                            <li><a href="#!">Bull Dozer<i class="fa fa-chevron-right"></i></a></li>
                        </ul>
                    </div>


                </div>
            </div>
            <div class="col-md-9">
                <div class="product-catg-content">
                    <div class="product-catg-head">
                        <div class="product-catg-head-left">
                            <form action="" class="prduct-catg-sort">
                                <label class="me-2 def">Sort by</label>
                                <select class="me-3 sort-select">
                                    <option value="Default" selected=""> Default</option>
                                    <option value="Name"> Name</option>
                                    <option value="Price">Price</option>
                                    <option value="Date">Date</option>
                                </select>
                                <label class="me-2">Show</label>
                                <select class="show-select">
                                    <option value="6" selected="">6</option>
                                    <option value="9">9</option>
                                    <option value="12">12</option>
                                </select>
                            </form>
                        </div>
                        <div class="product-catg-head-right">
                            <i class="fa fa-th"></i>
                        </div>
                    </div>
                    <div class="product-catg-body m-t-32">
                        <div class="row ">
                            <div class="col-md-6 col-lg-4">
                                <div class="product-card">
                                    <div class="product-img-holder">
                                        <img src="../../../assets/img/products/product-img-1.jpg" alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">Acer Nitro 5</div>
                                        <div class="product-price">
                                            <div class="product-price-main">Rs. 128000.00</div>
                                            <div class="product-price-strike">Rs. 135000.00</div>
                                        </div>
                                    </div>
                                    <ul class="product-action">
                                        <li>
                                            <a href="#!"><i
                                                    class="fa-solid fa-down-left-and-up-right-to-center"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fa-solid fa-heart"></i></a>
                                        </li>
                                    </ul>

                                </div>

                            </div>
                             <div class="col-md-6 col-lg-4">
                                <div class="product-card">
                                    <div class="product-img-holder">
                                        <img src="../../../assets/img/products/product-img-2.jpg" alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">Dell 27" Inch LED Monitor
                                            S2721HGF</div>
                                        <div class="product-price">
                                            <div class="product-price-main">Rs. 27000.00</div>
                                            <div class="product-price-strike">Rs. 35000.00</div>
                                        </div>
                                    </div>
                                    <ul class="product-action">
                                        <li>
                                            <a href="#!"><i
                                                    class="fa-solid fa-down-left-and-up-right-to-center"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fa-solid fa-heart"></i></a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                             <div class="col-md-6 col-lg-4">
                                <div class="product-card">
                                    <div class="product-img-holder">
                                        <img src="../../../assets/img/products/product-img-3.jpg" alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">Acer Monitor 19</div>
                                        <div class="product-price">
                                            <div class="product-price-main">Rs. 12800.00</div>
                                            <div class="product-price-strike">Rs. 14500.00</div>
                                        </div>
                                    </div>
                                    <ul class="product-action">
                                        <li>
                                            <a href="#!"><i
                                                    class="fa-solid fa-down-left-and-up-right-to-center"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fa-solid fa-heart"></i></a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                             <div class="col-md-6 col-lg-4">
                                <div class="product-card">
                                    <div class="product-img-holder">
                                        <img src="../../../assets/img/products/product-img-4.jpg" alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">Dell Inspiron 15 3530</div>
                                        <div class="product-price">
                                            <div class="product-price-main">Rs. 53000.00</div>
                                            <div class="product-price-strike">Rs. 55000.00</div>
                                        </div>
                                    </div>
                                    <ul class="product-action">
                                        <li>
                                            <a href="#!"><i
                                                    class="fa-solid fa-down-left-and-up-right-to-center"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fa-solid fa-heart"></i></a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                             <div class="col-md-6 col-lg-4">
                                <div class="product-card">
                                    <div class="product-img-holder">
                                        <img src="../../../assets/img/products/product-img-5.jpg" alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">Acer Nitro 5</div>
                                        <div class="product-price">
                                            <div class="product-price-main">Rs. 128000.00</div>
                                            <div class="product-price-strike">Rs. 55000.00</div>
                                        </div>
                                    </div>
                                    <ul class="product-action">
                                        <li>
                                            <a href="#!"><i
                                                    class="fa-solid fa-down-left-and-up-right-to-center"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fa-solid fa-heart"></i></a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                             <div class="col-md-6 col-lg-4">
                                <div class="product-card">
                                    <div class="product-img-holder">
                                        <img src="../../../assets/img/products/product-img-6.jpg" alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">Acer Nitro 5</div>
                                        <div class="product-price">
                                            <div class="product-price-main">Rs. 128000.00</div>
                                            <div class="product-price-strike">Rs. 55000.00</div>
                                        </div>
                                    </div>
                                    <ul class="product-action">
                                        <li>
                                            <a href="#!"><i
                                                    class="fa-solid fa-down-left-and-up-right-to-center"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fa-solid fa-heart"></i></a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                             <div class="col-md-6 col-lg-4">
                                <div class="product-card">
                                    <div class="product-img-holder">
                                        <img src="../../../assets/img/products/product-img-7.jpg" alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">Acer Nitro 5</div>
                                        <div class="product-price">
                                            <div class="product-price-main">Rs. 128000.00</div>
                                            <div class="product-price-strike">Rs. 55000.00</div>
                                        </div>
                                    </div>
                                    <ul class="product-action">
                                        <li>
                                            <a href="#!"><i
                                                    class="fa-solid fa-down-left-and-up-right-to-center"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fa-solid fa-heart"></i></a>
                                        </li>
                                    </ul>
                                </div>

                            </div>

                             <div class="col-md-6 col-lg-4">
                                <div class="product-card">
                                    <div class="product-img-holder">
                                        <img src="../../../assets/img/products/product-img-8.jpg" alt="">
                                    </div>
                                    <div class="product-content">
                                        <div class="product-title">Acer Nitro 5</div>
                                        <div class="product-price">
                                            <div class="product-price-main">Rs. 128000.00</div>
                                            <div class="product-price-strike">Rs. 55000.00</div>
                                        </div>
                                    </div>
                                    <ul class="product-action">
                                        <li>
                                            <a href="#!"><i
                                                    class="fa-solid fa-down-left-and-up-right-to-center"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                                        </li>
                                        <li>
                                            <a href="#!"><i class="fa-solid fa-heart"></i></a>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>