<section class="hero m-t-24">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-8">
                <div class="hero-banner">
                    <div class="hero-banner-content">
                        <div class="hero-banner-title">
                            Super Friendly <br> Electronics <br> Store
                        </div>
                        <div class="hero-banner-text m-t-16">
                            Electronics stores are renowned for being the first to showcase new gadgets and devices.
                        </div>
                        <a href="" class="btn btn-white m-t-24">Explore Now <i
                                class="ms-1 ri-arrow-right-long-line"></i></a>
                    </div>
                    <div class="hero-banner-img">
                        <img src="../../../assets/img/hero-computer.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-4 hero-col">
                <div class="advert bg1">
                    <div class="advert-conent">
                        <div class="advert-sub-title">New Arrival</div>
                        <div class="advert-title">Dell Inspiron
                            15 3530</div>
                        <a href="" class="btn btn-white  btn-sm m-t-24">Shop Now <i
                                class="ms-1 ri-arrow-right-long-line"></i></a>
                    </div>
                    <div class="advert-img">
                        <img src="../../../assets/img/sm-computer.png" alt="" width="150px">
                    </div>
                </div>
                <div class="advert bg2">
                    <div class="advert-conent">
                        <div class="advert-sub-title">New Arrival</div>
                        <div class="advert-title">Dell Inspiron
                            15 3530</div>
                        <a href="" class="btn btn-dark m-t-24">Shop Now <i
                                class="ms-1 ri-arrow-right-long-line"></i></a>
                    </div>
                    <div class="advert-img">
                        <img src="../../../assets/img/head-phone.png" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>