<section class="hero-slider">


    <section class="splide" #splide>
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <img src="../../../../assets/img/slider/slider4.jpg" alt="">
                    <div class="slider-content">
                        <h2>Your Trusted Healthy <br>
                            Catering And Clean Food.</h2>
                        <p>Fresh ingredients. Hygienic preparation. Exceptional taste. We make every occasion unforgettable with our trusted catering services.</p>

                        <a routerLink="/reservation" class="btn btn-white">Book Reservation <i class="ri-arrow-right-long-line"></i></a>
                    </div>
                </li>
                <li class="splide__slide">
                    <img src="../../../../assets/img/slider/slider1.jpg" alt="">
                            <div class="slider-content">
                        <h2>Serving Fresh, Hygienic & Delicious Catering Experiences</h2>
                        <p>From preparation to presentation, we focus on freshness, cleanliness, and flavor. Our catering services are designed to bring joy to your celebrations with food that your guests will truly enjoy.</p>

                        <a  routerLink="/reservation" class="btn btn-white">Book Reservation <i class="ri-arrow-right-long-line"></i></a>
                    </div>
                </li>


                <li class="splide__slide">
                    <img src="../../../../assets/img/slider/slider2.jpg" alt="">
                            <div class="slider-content">
                        <h2>Where Taste Meets Clean & Healthy Catering</h2>
                        <p>Experience catering redefined with fresh, hygienic, and expertly crafted dishes. We bring taste, quality, and elegance together to elevate your special occasions.</p>

                        <a  routerLink="/reservation" class="btn btn-white">Book Reservation <i class="ri-arrow-right-long-line"></i></a>
                    </div>
                </li>

                <li class="splide__slide">
                    <img src="../../../../assets/img/slider/slider3.jpg" alt="">
                            <div class="slider-content">
                        <h2>Trusted Catering for Every Special Occasion</h2>
                        <p>Fresh ingredients, hygienic preparation, and exceptional taste — we provide healthy catering
                            solutions crafted with quality, care, and cleanliness for every occasion.</p>

                        <a  routerLink="/reservation" class="btn btn-white">Book Reservation<i class="ri-arrow-right-long-line"></i></a>
                    </div>
                </li>


            </ul>
        </div>
    </section>

</section>