<section class="hero-slider">


    <section class="splide" #splide>
        <div class="splide__track">
            <ul class="splide__list">
                <li class="splide__slide">
                    <img src="../../../../assets/img/slider/slider4.jpg" alt="">
                </li>
                <li class="splide__slide">
                    <img src="../../../../assets/img/slider/slider1.jpg" alt="">
                </li>


                <li class="splide__slide">
                    <img src="../../../../assets/img/slider/slider2.jpg" alt="">
                </li>

                <li class="splide__slide">
                    <img src="../../../../assets/img/slider/slider3.jpg" alt="">
                </li>


            </ul>
        </div>
    </section>

</section>