<section class="blogs-section m-t-80">
    <div class="container">

        <div class="section-title  m-b-48">
            <div class="sub-title">Latest News</div>
            <h2 class="main-title">Latest Blogs Post</h2>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-6">
                <a href="">
                    <div class="product-media">
                        <img class="product-media-img" src="../../../assets/img/blogs/blog-img-1.jpg" alt="">

                        <div class="product-media-body">
                            <h4 class="product-media-title"> Post with Gallery</h4>
                            <div class="product-media-meta">
                                <div class="product-media-user">By admin</div>
                                <div class="product-media-date">01 Dec 2025</div>
                            </div>
                            <div class="product-media-text">
                                Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium
                                Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium
                            </div>
                        </div>
                    </div>
                </a>

            </div>
            <div class="col-md-12 col-lg-6">
                <a href="">
                    <div class="product-media">
                        <img class="product-media-img" src="../../../assets/img/blogs/blog-img-2.jpg" alt="">

                        <div class="product-media-body">
                            <h4 class="product-media-title"> Post with Gallery</h4>
                            <div class="product-media-meta">
                                <div class="product-media-user">By admin</div>
                                <div class="product-media-date">01 Dec 2025</div>
                            </div>
                            <div class="product-media-text">
                                Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium
                                Donec vitae hendrerit arcu, sit amet faucibus nisl. Cras pretium
                            </div>
                        </div>
                    </div>
                </a>

            </div>

        </div>


    </div>
</section>