<section class="contact-page">

    <!-- HERO -->


        <section class="contact-hero" >
         <div class="container">
            <h1 data-aos="zoom-in" data-aos-delay="100">Contact Us</h1>
            <p data-aos="fade-up" data-aos-delay="200">
                We’re here to help you plan unforgettable events. Get in touch with us today!
            </p>
        </div>
    </section>

    <div class="container">

        <div class="row p-t-20">

            <div class="col-lg-6" data-aos="fade-right" data-aos-delay="300">
                <div class="contact-block">
                    <h2>Get In Touch</h2>
                    <div class="contact-text">
                        Fill out the form below if you have any questions or concerns. 
                        All fields marked with an * are required. Thank you for your interest. 
                        We will get back with you shortly.
                    </div>

                    <form class="contact-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="firstName" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="Email" placeholder="Email Address">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="Message">Message</label>
                                <textarea name="Message" id="Message" cols="30" rows="5" class="form-control"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary w-100">Message</button>
                    </form>

                </div>
            </div>

            <div class="col-lg-6" data-aos="fade-left" data-aos-delay="400">
                <div class="contact-img">
                    <img src="../../../assets/img/contact.jpg" alt="">
                </div>
            </div>

        </div>

        <div class="contact-icons grid grid--3 m-t-40" data-aos="fade-up" data-aos-delay="500">

            <div class="contact-icon">
                <i class="fas fa-phone-alt"></i>
                <h4 class="m-b-8">Phone Number</h4>
                <p>
                    <a href="tel:+977-986-0739065">986-0739065,</a>
                    <a href="tel:+977-9810158390">9810158390</a>
                </p>
            </div>

            <div class="contact-icon">
                <i class="far fa-envelope"></i>
                <h4 class="m-b-8">Mail Us</h4>
                <p><a href="mailto:dahalns2071@gmail.com">dahalns2071&#64;gmail.com</a></p>
            </div>

            <div class="contact-icon">
                <i class="fas fa-map-marker-alt"></i>
                <h4 class="m-b-8">Address</h4>
                <p>Kapan, Kathmandu, Nepal, 44600</p>
            </div>

        </div>

    </div>

    <div class="map-wrap m-t-40" data-aos="fade-up" data-aos-delay="600">
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28250.631593956346!2d85.34315910884028!3d27.73799820885283!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1be5bea00987%3A0x70cf02a942554e97!2sKapan%2C%2044600!5e0!3m2!1sen!2snp!4v1780564096999!5m2!1sen!2snp"
            width="600" height="360" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

</section>