<section class="contact-page p-t-32">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Contact</li>
            </ol>


        </nav>

        <div class="contact-icons grid grid--3 m-t-32">

            <div class="contact-icon">
                <i class="fas fa-phone-alt"></i>
                <h4 class="m-b-8">Phone Number</h4>
                <p>
                    <a href="tel:+977-9857024299"> 9857024299,</a>
                    <a href="tel:+977-9857085299"> 9857085299,</a>
                    <a href="tel:+977-071538659"> 071538659</a>
                </p>
            </div>


            <div class="contact-icon">
                <i class="far fa-envelope"></i>
                <h4 class="m-b-8">Mail Us</h4>
                <p><a href="mailto:butwalcomputer@gmail.com">butwalcomputer&#64;gmail.com</a></p>
            </div>



            <div class="contact-icon">
                <i class="fas fa-map-marker-alt"></i>
                <h4 class="m-b-8"> Address</h4>
                <p>Maitripath, Butwal, Nepal</p>
            </div>

        </div>
        <div class="row p-t-40">
            <div class="col-lg-6">
                <div class="contact-box">
                    <h2>Get In Touch</h2>
                    <div class="contact-text">Fill out the form below if
                        you have any questions
                        or concerns. All fields marked with an * are
                        required. Thank you for your interest. We will
                        get back with you shortly.</div>

                    <form class="contact-form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="firstName" placeholder="First Name">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="Email" placeholder="Email Address">
                            </div>
                            <div class="form-group col-md-6">
                                <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-12">
                                <label for="Message">Message</label>
                                <textarea name="Message" id="Message" cols="30" rows="5"
                                    class="form-control"></textarea>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark
                                w-100">Message</button>
                    </form>

                </div>
            </div>
            <div class="col-lg-6 mt-4 mt-lg-0">
                <div class="map-wrap">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d56481.210574667246!2d85.24899374271591!3d27.77664278517082!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb1f1660f01d15%3A0x6bc8f6a111170a6d!2sTarakeshwar!5e0!3m2!1sen!2snp!4v1685338878185!5m2!1sen!2snp"
                        height="483" style="border:0;" allowfullscreen="" loading="lazy"
                        referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>


    </div>
</section>