@use "../abstracts/variables" as vars;

.about-hero {
  background:
    linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://images.unsplash.com/photo-1528605248644-14dd04022da1")
      center/cover no-repeat;
  color: #fff;
  text-align: center;
  padding: 80px 20px;
}

.about-hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.about-hero p {
  font-size: 18px;
}

/* About Section */
.about-section-content {
  padding: 60px 0;
}

.about-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  align-items: center;
}

.about-img img {
  width: 100%;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

.about-content h2 {
  font-size: 32px;
  margin-bottom: 15px;
}

.about-content p {
  margin-bottom: 15px;
}

.about-content ul {
  list-style: none;
}

.about-content ul li {
  margin: 10px 0;
  font-size: 16px;
}

.about-content i {
  color: #28a745;
  margin-right: 8px;
}

/* Stats */
.stats {
  background: #f8f8f8;
  padding: 60px 0;
}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  text-align: center;
}

.stat-box h3 {
  font-size: 32px;
  color: vars.$primary-500;
  margin-bottom: 1rem;
}

/* Mission */

.mission-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.mission-box {
  padding: 30px;
  background: #fff;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.08);
  text-align: center;
  transition: 0.3s;
}

.mission-box:hover {
  transform: translateY(-5px);
}

.mission-box i {
  font-size: 40px;
  color: vars.$primary-500;
  margin-bottom: 10px;
}

/* Responsive */
@media (max-width: 992px) {
  .about-grid {
    grid-template-columns: 1fr;
  }

  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
  }

  .mission-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  .about-hero h1 {
    font-size: 32px;
  }

  .stats-grid {
    grid-template-columns: 1fr;
  }
}
