@use '../abstracts/variables' as vars

.card-body-top
    display: flex

    align-items: center
    margin-bottom: 1rem

    i

        color: vars.$grey-600
    span
        font-size: 13px
        color: vars.$grey-600

.card-admin
    margin-right: 20px

.blogs--card
    .grid-item
        box-shadow: 0 6px 21px rgba(0,0,0,0.06)

    .card
        border: none
        padding-top: 1rem

.card-img-top
    width: 100%
    height: 250px
    object-fit: contain

@media screen and (max-width: 992px)
    .grid--3.blogs--card
        grid-template-columns: repeat(2, 1fr)

@media screen and (max-width: 576px)

    .grid--3.blogs--card
        grid-template-columns: 1fr
