
.medias--sidebar,
.side-post--sidebar
    padding: 20px
    background: #f4f4f6

.medias--sidebar .media:first-of-type
    padding-bottom: 15px
    border-bottom: 1px solid #d1d2d4

.medias--sidebar .media+.media
    border-bottom: 1px solid #d1d2d4
    border-top: 1px solid #ffffff
    padding-top: 15px
    padding-bottom: 15px

.medias--sidebar .media:last-of-type
    border-bottom: none

.media--sidebar img
    width: 64px
    height: 74px
    object-fit: cover

.media--sidebar .media-title
    font-size: 1.125rem
    margin-bottom: 0

.media--sidebar .media-date
    font-size: .8125rem
    margin-bottom: 5px
    font-weight: 500

.side-post-list li
    margin-bottom: 10px
    padding-bottom: 10px
    border-bottom: 1px solid #ddd
    list-style: none !important

.media
    display: -ms-flexbox
    display: flex
    -ms-flex-align: start
    align-items: flex-start

    &-body
        -ms-flex: 1
        flex: 1

.blog-post__meta
    display: flex
    align-items: center
    gap: 30px
    font-size: 13px

.blog-post__img
    img
        width: 100%

.blog-body
    padding: 20px 2rem 2rem
    box-shadow: 0 6px 21px rgb(0, 0, 0, 0.06)

@media screen and (max-width: 992px)
    .sidebar
        margin-top: 30px
