@use '../abstracts/variables' as vars

.contact-hero
    background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url('https://images.unsplash.com/photo-1528605248644-14dd04022da1') center/cover no-repeat
    color: #fff
    text-align: center
    padding: 80px 20px

.contact-hero h1
    font-size: 48px
    color: #fff
    font-weight: 700
    margin-bottom: 10px

.contact-hero p
    font-size: 18px
    text-align: center
    opacity: 0.9

.contact-text
    margin-bottom: 20px
    line-height: 26px

.contact-form

    label
        display: block

    input
        height: 40px
        padding-left: 10px
        border-radius: 0

    textarea
        width: 100%
        padding-left: 10px
        padding-top: 5px
        height: 110px

    .btn
        text-transform: uppercase

//contact-icons

.contact-icons
    text-align: center

.contact-icon
    background: #f6f6f9
    padding: 20px
    border-top-right-radius: 40px;
    border-bottom-left-radius: 40px;

    i
        height: 56px
        width: 56px
        border-radius: 100%
        -webkit-border-radius: 100%
        background: vars.$primary-500
        color: #fff
        font-size: 24px
        display: flex
        justify-content: center
        align-items: center
        margin: 0 auto
        margin-bottom: 24px

    a
        &:hover
            text-decoration: underline
            color: vars.$primary-500

    h3
        margin-bottom: 8px

    p
        margin-bottom: 0

.contact-block
    padding: 30px
    border-top-right-radius: 60px
    border-bottom-left-radius: 60px
    border: 1px solid #d6d6d7

.map-wrap 
    position: relative
    z-index: -1

    iframe
        width: 100%
        height: 360px

.contact-img
    text-align: center
    img
        height: 500px

@media screen and (max-width: 767px)
    .map-wrap
        iframe
            width: 100%
            height: 300px

    .contact-img
        display: none

.form-group
    margin-bottom: 1rem

.form-control:focus
    box-shadow: none

@media screen and (max-width: 992px)
    .contact-icons.grid--4
        grid-template-columns: repeat(2, 1fr)

@media screen and (max-width: 767px)
    .contact-icons.grid--3
        grid-template-columns: 1fr

@media screen and (max-width: 576px)

    .contact-icons.grid--4
        grid-template-columns: 1fr

.map-wrap iframe
    width: 100%
