@use '../abstracts/variables' as vars;

.services-page .service-card img {
    height: 220px;
    border-top-right-radius: 60px;
    border-bottom-left-radius: 60px;

}

.services-page .service-card:hover {
    background: #fff;
}

.services-page .service-card:hover {
    background: #fff;
}

.services-page {
    .service-card {
        padding: 2rem;
        &:hover {
            background: #fff;


            svg {
                path {
                    fill: inherit;
                }
            }

            h3 {
                color: inherit;
            }

            p {
                color: inherit;
            }
        }
    }
}