@use '../abstracts/variables' as vars;

.product-single-img {
    border: 1px solid vars.$border;
    padding: 2rem;
}

.product-single-rating {
    display: flex;
    gap: 4px;
    color: #EF8C1C;
}

.text-bg-secondary {
    background: #F5B7B7 !important;
    padding: 0.5rem;
    color: #333 !important;
    font-size: 12px;
    border-radius: 0;
}

.quantity {
    display: inline-flex;
    height: 40px;
}

.quantity-button {
    height: 100%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;
    border: 1px solid vars.$border;
}

.qtyText {
    border: 1px solid vars.$border;
    border-left: none;
    border-right: none;
    width: 50px;
    text-align: center;

    &:focus {
        border-color: vars.$border !important;
    }
}

.social-share {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.social-share-icons {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 24px;
}

.btns-group {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.product-single-tab {
    .mdc-tab {
        border: 1px solid vars.$border;
        border-bottom: none;
    }

    .mdc-tab-indicator__content--underline {
        border-top-style: inherit;
    }

    .mat-mdc-tab-labels {
        gap: 1rem;
    }
}

.splide__slide {
    border: 1px solid vars.$border;
    display: flex;
    justify-content: center;
    align-items: center;
}


#thumbnail-carousel .splide__slide img {
    border: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s;
}



.splide__track--nav>.splide__list>.splide__slide.is-active {
    border: 2px solid vars.$secondary-500;
}

.splide__track--nav>.splide__list>.splide__slide {
    border: 1px solid vars.$border;
}



@media only screen and (max-width: 992px) {
    #thumbnail-carousel {
        display: none;
    }

    .splide__slide img {
        vertical-align: bottom;
        height: 300px;
    }

}



@media only screen and (max-width: 767px) {}


@media only screen and (max-width: 576px) {}