<section class="gallery-section m-t-60">

    <div class="container-fluid">

        <div class="gallery-grid">

            <div class="gallery-item">
                <img src="../../../../assets/img/gallery/img01.jpg" alt="">
            </div>

            <div class="gallery-item large">
                <img src="../../../../assets/img/gallery/img01.jpg" alt="">
            </div>

            <div class="gallery-item">
                <img src="../../../../assets/img/gallery/img01.jpg" alt="">
            </div>

        </div>

    </div>

</section>