<section class="gallery-section m-t-60" data-aos="fade-up">

  <div class="container-fluid">

    <section class="splide" #gallery data-aos="zoom-in" data-aos-delay="100">
      <div class="splide__track">
        <ul class="splide__list">

          <li class="splide__slide gallery-item">
            <a href="../../../../assets/img/gallery/gallery1.jpg" data-lightbox="gallery" data-title="Image 1">
              <img src="../../../../assets/img/gallery/gallery1.jpg" alt="">
            </a>
          </li>

          <li class="splide__slide gallery-item">
            <a href="../../../../assets/img/gallery/gallery2.jpg" data-lightbox="gallery" data-title="Image 2">
              <img src="../../../../assets/img/gallery/gallery2.jpg" alt="">
            </a>
          </li>

          <li class="splide__slide gallery-item">
            <a href="../../../../assets/img/gallery/gallery3.jpg" data-lightbox="gallery" data-title="Image 3">
              <img src="../../../../assets/img/gallery/gallery3.jpg" alt="">
            </a>
          </li>

          <li class="splide__slide gallery-item">
            <a href="../../../../assets/img/gallery/gallery4.jpg" data-lightbox="gallery" data-title="Image 4">
              <img src="../../../../assets/img/gallery/gallery4.jpg" alt="">
            </a>
          </li>

        </ul>
      </div>
    </section>

  </div>

</section>