<section class="page-shop-cart p-t-32">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Shop Cart</li>
            </ol>
        </nav>
        <div class="shop-table-wrap">
            <table class="shop-table">
                <thead>
                    <tr>
                        <th class="product-remove">Remove</th>
                        <th class="product-thumbnail">Image</th>
                        <th class="product-name">Product</th>
                        <th class="product-p">Unit Price</th>
                        <th class="product-quantity">Quantity</th>
                        <th class="product-subtotal">Total</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="cart-single">
                        <td class="product-remove">
                            <button type="button" class="remove-btn"><i class="fa-solid fa-xmark"></i></button>
                        </td>
                        <td class="product-thumbnail">
                            <a href="#">
                                <img width="57" height="70" src="../../../../assets/img/products/product-img-1.jpg"
                                    class="" alt="">
                            </a>
                        </td>
                        <td class="product-name">
                            <a href="">Checked Hoodies Woo</a>
                        </td>

                        <td class="product-p">
                            <span class="price-amount">
                                <span class="price-currencySymbol">£</span>165.00</span>
                        </td>
                        <td class="product-quantity">
                            <div class="quantity">
                                <div class="quantity-button minus"> - </div>
                                <input type="text" id="quantityInput" class="qtyText" name="quantityInput" min="1"
                                    max="84" autocomplete="off">
                                <div class="quantity-button plus"> + </div>
                            </div>
                        </td>
                        <td class="product-subtotal">
                            <span class="price-amount"><span class="price-currencySymbol">£</span>330.00</span>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="6">
                            <div class="product-actions">
                                <div class="coupon">

                                    <input type="text" id="couponCode" class="input-text-coupon"
                                        placeholder="Coupon code">
                                    <button class="btn btn-secondary" type="submit">
                                        Apply Coupon
                                    </button>
                                </div>

                                <button class="btn btn-secondary" type="submit">
                                    Update Cart <i class="ms-1 ri-arrow-right-long-line"></i>
                                </button>
                            </div>


                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="cart-totals col-md-4  m-t-32">
            <h3>Cart Totals</h3>
            <table class="cart-totals-table shop-table">
                <tbody>
                    <tr>
                        <th>Subtotal</th>
                        <td>
                            <span class="price-amount clr-dark  font-bold">
                                <span class="price-currencySymbol">£</span>165.00</span>
                        </td>
                    </tr>
                    <tr>
                        <th>Shipping</th>
                        <td>Free Shipping <br> Calculate Shipping</td>
                    </tr>
                    <tr>
                        <th>Total</th>
                        <td>
                            <span class="price-amount clr-dark  font-bold">
                                <span class="price-currencySymbol">£</span>
                                165.00
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <button href="" class="btn btn-outline-dark m-t-24 ">
                Checkout<i class="ms-1 ri-arrow-right-long-line"></i>
            </button>
        </div>

    </div>
</section>