<section class="products-tab m-t-80">
    <div class="container">


        <mat-tab-group animationDuration="0ms">
            <mat-tab label="Popular">
                <div class="row  product-cards">
                    <div class="col-md-4 col-lg-3">
                        <div class="product-card">
                            <div class="product-img-holder">
                                <img src="../../../assets/img/products/product-img-1.jpg" alt="">
                            </div>
                            <div class="product-content">
                                <div class="product-title">Acer Nitro 5</div>
                                <div class="product-price">
                                    <div class="product-price-main">Rs. 128000.00</div>
                                    <div class="product-price-strike">Rs. 135000.00</div>
                                </div>
                            </div>
                            <ul class="product-action">
                                <li>
                                    <a href="#!"><i class="fa-solid fa-down-left-and-up-right-to-center"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fa-solid fa-heart"></i></a>
                                </li>
                            </ul>

                        </div>

                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="product-card">
                            <div class="product-img-holder">
                                <img src="../../../assets/img/products/product-img-2.jpg" alt="">
                            </div>
                            <div class="product-content">
                                <div class="product-title">Dell 27" Inch LED Monitor
                                    S2721HGF</div>
                                <div class="product-price">
                                    <div class="product-price-main">Rs. 27000.00</div>
                                    <div class="product-price-strike">Rs. 35000.00</div>
                                </div>
                            </div>
                            <ul class="product-action">
                                <li>
                                    <a href="#!"><i class="fa-solid fa-down-left-and-up-right-to-center"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fa-solid fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="product-card">
                            <div class="product-img-holder">
                                <img src="../../../assets/img/products/product-img-3.jpg" alt="">
                            </div>
                            <div class="product-content">
                                <div class="product-title">Acer Monitor 19</div>
                                <div class="product-price">
                                    <div class="product-price-main">Rs. 12800.00</div>
                                    <div class="product-price-strike">Rs. 14500.00</div>
                                </div>
                            </div>
                            <ul class="product-action">
                                <li>
                                    <a href="#!"><i class="fa-solid fa-down-left-and-up-right-to-center"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fa-solid fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="product-card">
                            <div class="product-img-holder">
                                <img src="../../../assets/img/products/product-img-4.jpg" alt="">
                            </div>
                            <div class="product-content">
                                <div class="product-title">Dell Inspiron 15 3530</div>
                                <div class="product-price">
                                    <div class="product-price-main">Rs. 53000.00</div>
                                    <div class="product-price-strike">Rs. 55000.00</div>
                                </div>
                            </div>
                            <ul class="product-action">
                                <li>
                                    <a href="#!"><i class="fa-solid fa-down-left-and-up-right-to-center"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fa-solid fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="product-card">
                            <div class="product-img-holder">
                                <img src="../../../assets/img/products/product-img-5.jpg" alt="">
                            </div>
                            <div class="product-content">
                                <div class="product-title">Acer Nitro 5</div>
                                <div class="product-price">
                                    <div class="product-price-main">Rs. 128000.00</div>
                                    <div class="product-price-strike">Rs. 55000.00</div>
                                </div>
                            </div>
                            <ul class="product-action">
                                <li>
                                    <a href="#!"><i class="fa-solid fa-down-left-and-up-right-to-center"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fa-solid fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-md-4 col-lg-3">
                        <div class="product-card">
                            <div class="product-img-holder">
                                <img src="../../../assets/img/products/product-img-6.jpg" alt="">
                            </div>
                            <div class="product-content">
                                <div class="product-title">Acer Nitro 5</div>
                                <div class="product-price">
                                    <div class="product-price-main">Rs. 128000.00</div>
                                    <div class="product-price-strike">Rs. 55000.00</div>
                                </div>
                            </div>
                            <ul class="product-action">
                                <li>
                                    <a href="#!"><i class="fa-solid fa-down-left-and-up-right-to-center"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fa-solid fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="col-md-4 col-lg-3">
                        <div class="product-card">
                            <div class="product-img-holder">
                                <img src="../../../assets/img/products/product-img-7.jpg" alt="">
                            </div>
                            <div class="product-content">
                                <div class="product-title">Acer Nitro 5</div>
                                <div class="product-price">
                                    <div class="product-price-main">Rs. 128000.00</div>
                                    <div class="product-price-strike">Rs. 55000.00</div>
                                </div>
                            </div>
                            <ul class="product-action">
                                <li>
                                    <a href="#!"><i class="fa-solid fa-down-left-and-up-right-to-center"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fa-solid fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>

                    <div class="col-md-4 col-lg-3">
                        <div class="product-card">
                            <div class="product-img-holder">
                                <img src="../../../assets/img/products/product-img-8.jpg" alt="">
                            </div>
                            <div class="product-content">
                                <div class="product-title">Acer Nitro 5</div>
                                <div class="product-price">
                                    <div class="product-price-main">Rs. 128000.00</div>
                                    <div class="product-price-strike">Rs. 55000.00</div>
                                </div>
                            </div>
                            <ul class="product-action">
                                <li>
                                    <a href="#!"><i class="fa-solid fa-down-left-and-up-right-to-center"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fa-solid fa-basket-shopping"></i></a>
                                </li>
                                <li>
                                    <a href="#!"><i class="fa-solid fa-heart"></i></a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>


            </mat-tab>
            <mat-tab label="Popular">Content 2</mat-tab>
            <mat-tab label="Latest">Content 3</mat-tab>
        </mat-tab-group>




    </div>
</section>