<section class="categories m-t-80">
    <div class="container">

        <div class="section-title text-center m-b-48">
            <div class="sub-title">Shop For Collection</div>
            <h2 class="main-title">Shop By Category</h2>
        </div>

        <div class="grid grid--6">
            <div class="category">
                <a href="">
                    <div class="category-img-holder">
                        <img class="category-img" src="../../../assets/img/categories/category-1.jpg" alt="">

                        <div class="view-eye">
                            <i class="fa-solid fa-eye"></i>
                        </div>

                    </div>
                    <div class="category-content m-t-16">
                        <div class="category-title">
                            Free Delivery
                        </div>
                    </div>
                </a>

            </div>
            <div class="category">
                <a href="">


                    <div class="category-img-holder">
                        <img class="category-img" src="../../../assets/img/categories/category-2.png" alt="">
                        <div class="view-eye">
                            <i class="fa-solid fa-eye"></i>
                        </div>

                    </div>
                    <div class="category-content m-t-16">
                        <div class="category-title">
                            Monitors
                        </div>
                    </div>
                </a>
            </div>
            <div class="category">
                <a href="">


                    <div class="category-img-holder">
                        <img class="category-img" src="../../../assets/img/categories/category-3.png" alt="">
                        <div class="view-eye">
                            <i class="fa-solid fa-eye"></i>
                        </div>
                    </div>
                    <div class="category-content m-t-16">
                        <div class="category-title">
                            Printers
                        </div>
                    </div>
                </a>
            </div>
            <div class="category">
                <a href="">
                    <div class="category-img-holder">
                        <img class="category-img" src="../../../assets/img/categories/category-4.png" alt="">
                        <div class="view-eye">
                            <i class="fa-solid fa-eye"></i>
                        </div>
                    </div>
                    <div class="category-content m-t-16">
                        <div class="category-title">
                            CCTV Camera
                        </div>
                    </div>
                </a>
            </div>
            <div class="category">
                <a href="">
                    <div class="category-img-holder">
                        <img class="category-img" src="../../../assets/img/categories/category-5.png" alt="">
                           <div class="view-eye">
                            <i class="fa-solid fa-eye"></i>
                        </div>
                    </div>
                    <div class="category-content m-t-16">
                        <div class="category-title">
                            Home Appliances
                        </div>
                    </div>
                </a>
            </div>
            <div class="category">
                <a href="">
                    <div class="category-img-holder">
                        <img class="category-img" src="../../../assets/img/categories/category-6.png" alt="">
                          <div class="view-eye">
                            <i class="fa-solid fa-eye"></i>
                        </div>
                    </div>
                    <div class="category-content m-t-16">
                        <div class="category-title">
                            Accessories
                        </div>
                    </div>

                </a>
            </div>
        </div>


    </div>
</section>