<section class="services-section m-t-60">
    <div class="container">
        <div class="section-header m-b-40">
            <div class="text-center m-b-16">
                <div class="menu-title">
                    <span>What We Do</span>
                </div>
            </div>


            <h2 class=" text-center mb-0">
                We Have Services For Catering <br> Tailored To Your Event.
            </h2>
        </div>

        <div class="services-grid">
            <div class="service-card">
                <img src="../../../../assets/img/wedding-icon.svg" alt="">
                <h3>Wedding Catering</h3>
                <p>Elegant dining experiences crafted for your special wedding celebration.</p>
            </div>
            <div class="service-card">
                <img src="../../../../assets/img/corporate-icon.svg" alt="">
                <h3>Corporate Catering</h3>
                <p>Professional catering solutions for meetings, conferences, and corporate events.</p>
            </div>
            <div class="service-card">
                <img src="../../../../assets/img/buffet-icon.svg" alt="">
                <h3>Buffet & Live Stations</h3>
                <p>Interactive buffet setups and live food stations for occasions.</p>
            </div>
            <div class="service-card">
                <img src="../../../../assets/img/beverage-icon.svg" alt="">
                <h3>Beverage Service</h3>
                <p>Refreshing beverage selections served with style and professionalism.</p>
            </div>
            <div class="service-card">
                <img src="../../../../assets/img/menu-icon.svg" alt="">
                <h3>Custom Menu Development</h3>
                <p>Personalized menus designed to match your taste and event theme.</p>
            </div>
            <div class="service-card">
                <img src="../../../../assets/img/luxury-icon.svg" alt="">
                <h3>Luxury Yacht & Destination</h3>
                <p>Exclusive catering services for luxury yacht and destination events.</p>
            </div>
        </div>
    </div>

</section>