<section class="about-section m-t-60">

  <div class="container">

    <!-- Heading -->
    <div class="section-heading"
      data-aos="fade-down"
      data-aos-duration="1000">

      <h2>
        Crafting Culinary Experiences
        <br>
        with <span class="pasion">Passion</span> And Precision.
      </h2>
    </div>

    <!-- Wrapper -->
    <div class="about-wrapper">

      <!-- Image -->
      <div class="about-image"
        data-aos="zoom-in-right"
        data-aos-duration="1000"
        data-aos-delay="200">

        <img src="../../../../assets/img/about-img-1.jpg" alt="">
      </div>

      <!-- Content -->
      <div class="about-content">

        <div class="about-content-inner"
          data-aos="fade-up"
          data-aos-duration="900"
          data-aos-delay="300">

          <p>
            Looking for exceptional catering and event management services?
            N&N Catering Event Management Service specializes in creating
            unforgettable experiences for weddings, birthdays, corporate events.
          </p>

          <p>
            From delicious cuisine to seamless event planning, we handle
            every detail with care and professionalism.
          </p>

          <div class="quote-box"
            data-aos="fade-left"
            data-aos-duration="800"
            data-aos-delay="400">

            “ Elegant events, outstanding cuisine, and memories to cherish — only with N&N. ”
          </div>

        </div>

        <!-- Bottom Section -->
        <div class="about-bottom">

          <div class="experience-card"
            data-aos="flip-left"
            data-aos-duration="900"
            data-aos-delay="500">

            <h3>15Y</h3>
            <p>Years Of Experience</p>
          </div>

          <div class="small-image"
            data-aos="zoom-in-left"
            data-aos-duration="900"
            data-aos-delay="600">

            <img src="../../../../assets/img/about-img-2.jpg" alt="">
          </div>

        </div>

      </div>

    </div>

  </div>

</section>