<section class="about-section m-t-60">

    <div class="container">

        <div class="section-heading">
            <h2>
                Crafting Culinary Experiences
                <br>
                with <span>Passion</span> And Precision.
            </h2>
        </div>

        <div class="about-wrapper">

            <div class="about-image">
                <img src="../../../../assets/img/about-img-1.jpg" alt="">
            </div>

            <div class="about-content">
                <div class="about-content-inner">
                    <p>
                        Looking for exceptional catering and event management services?
                        N&N Catering Event Management Service specializes in creating
                        unforgettable experiences for weddings, birthdays, corporate
                        events, anniversaries, and special gatherings.
                    </p>

                    <p>
                        From delicious cuisine to seamless event planning, we handle
                        every detail with care and professionalism.
                    </p>

                    <div class="quote-box">
                        “ Elegant events, outstanding cuisine, and memories to cherish —
                        only with N&N. ”
                    </div>

                </div>

                <div class="about-bottom">

                    <div class="experience-card">
                        <h3>15Y</h3>
                        <p>Years Of Experience</p>
                    </div>

                    <div class="small-image">
                        <img src="../../../../assets/img/about-img-2.jpg" alt="">
                    </div>

                </div>

            </div>

        </div>

    </div>

</section>