<section class="menu-categories-section p-b-60">
    <!-- HERO -->
    <section class="blog-hero">
        <div class="container">
            <h1 data-aos="zoom-in" data-aos-delay="100"> Our Menu List </h1>
            <p data-aos="fade-up" data-aos-delay="200">
                Latest tips, ideas, and inspiration for catering & event planning
            </p>
        </div>
    </section>


    <div class="container m-t-60">

        <div class="section-header m-b-40 text-center">
            <div class="menu-title"><span>Menu List</span></div>
            <h2 class="mb-0">Choose Your Menu</h2>
        </div>

        <div class="menu-grid">

            <!-- SILVER CARD -->
            <div class="menu-card silver" data-aos="fade-up" data-aos-duration="800" data-aos-delay="100">
                <h3>N&N Silver</h3>
                <span>Conditions Apply *</span>
                <img src="https://images.unsplash.com/photo-1600891964599-f61ba0e24092?w=800" alt="Silver Menu">
                <p>Snacks [2], Main Course [8], Pickle [5], Salad [5], Dessert [2]</p>
                <a href="/menu/silver" class="btn btn-outline-white">View Menu <i
                        class="ri-arrow-right-long-line"></i></a>
            </div>

            <!-- GOLD CARD -->
            <div class="menu-card gold" data-aos="fade-up" data-aos-duration="800" data-aos-delay="250">
                <h3>N&N Gold</h3>
                <span>Conditions Apply *</span>
                <img src="https://images.unsplash.com/photo-1519225421980-715cb0215aed?w=800" alt="Gold Menu">
                <p>Snacks [3], Main Course [10], Pickle [5], Salad [5], Dessert [3]</p>
                <a href="/menu/gold" class="btn btn-outline-white">View Menu <i
                        class="ri-arrow-right-long-line"></i></a>
            </div>

            <!-- DIAMOND CARD -->
            <div class="menu-card diamond" data-aos="fade-up" data-aos-duration="800" data-aos-delay="400">
                <h3>N&N Diamond</h3>
                <span>Conditions Apply *</span>
                <img src="https://images.unsplash.com/photo-1529692236671-f1f6cf9683ba?w=800" alt="Diamond Menu">
                <p>Snacks [5], Main Course [12], Pickle [5], Salad [5], Dessert [5]</p>
                <a href="/menu/diamond" class="btn btn-outline-white">View Menu <i
                        class="ri-arrow-right-long-line"></i></a>
            </div>

        </div>

    </div>

</section>