<main class="account-content">
    <header class="content-header">
        <h2>Edit Profile</h2>
        <p>Update your personal information and how we can reach you.</p>
    </header>

    <div class="dashboard-card card-full-width">
        <form action="#" method="POST" class="profile-form">

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="firstName">First Name</label>
                        <input class="form-control" type="text" id="firstName" name="firstName" value="John" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="lastName">Last Name</label>
                        <input class="form-control" type="text" id="lastName" name="lastName" value="Doe" required>
                    </div>
                </div>



            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="emailAddress">Email Address</label>
                        <input class="form-control" type="text" id="emailAddress" name="emailAddress" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="phoneNumber">Phone Number</label>
                        <input class="form-control" type="text" id="phoneNumber" name="phoneNumber">
                    </div>
                </div>



            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="phoneNumber">Shipping Address</label>
                        <input class="form-control" type="text" id="phoneNumber" name="phoneNumber">
                    </div>
                </div>
            </div>


            <div class="form-actions">
                <button type="button" class="btn btn-secondary ">Cancel</button>
                <button type="submit" class="btn btn-primary ms-3">Save Changes</button>
            </div>

        </form>
    </div>
</main>