<!-- sidebar-info start -->
<div class="cart-sidebar">
    <button type="button" class="cart-close-btn"><i class="fa-solid fa-xmark"></i></button>
    <h2 class="heading-title text-uppercase">Cart Items - <span>4</span></h2>
    <div class="cart-items-list">
        <div class="cart-item">
            <div class="item-image">
                <img src="../../../assets/img/cart-sidebar/img_01.png" alt="image_not_found">
            </div>
            <div class="item-content">
                <h4 class="item-title">
                    Rorem ipsum dolor sit amet.
                </h4>
                <span class="item-price">$19.00</span>
                <button type="button" class="remove-btn"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
        <div class="cart-item">
            <div class="item-image">
                <img src="../../../assets/img/cart-sidebar/img_02.png" alt="image_not_found">
            </div>
            <div class="item-content">
                <h4 class="item-title">
                    Rorem ipsum dolor sit amet.
                </h4>
                <span class="item-price">$22.00</span>
                <button type="button" class="remove-btn"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
        <div class="cart-item">
            <div class="item-image">
                <img src="../../../assets/img/cart-sidebar/img_03.png" alt="image_not_found">
            </div>
            <div class="item-content">
                <h4 class="item-title">
                    Rorem ipsum dolor sit amet.
                </h4>
                <span class="item-price">$43.00</span>
                <button type="button" class="remove-btn"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
        <div class="cart-item">
            <div class="item-image">
                <img src="../../../assets/img/cart-sidebar/img_04.png" alt="image_not_found">
            </div>
            <div class="item-content">
                <h4 class="item-title">
                    Rorem ipsum dolor sit amet.
                </h4>
                <span class="item-price">$14.00</span>
                <button type="button" class="remove-btn"><i class="fa-solid fa-xmark"></i></button>
            </div>
        </div>
    </div>
    <div class="total_price text-uppercase">
        <span>Sub Total:</span>
        <span>$87.00</span>
    </div>
    <ul class="btns_group ul_li">
        <li><a href="cart.html" class="btn btn-secondary">
                View Cart <i class="ms-1 ri-arrow-right-long-line"></i>
            </a></li>
        <li><a href="checkout.html" class="btn btn-dark">
                Checkout <i class="ms-1 ri-arrow-right-long-line"></i>
            </a></li>
    </ul>
</div>
<div class="body-overlay"></div>
<!-- sidebar-info end -->