<section class="cta-banner">

    <div class="overlay-call-to-action"></div>

    <div class="container">

        <span>Our Special Packages Make You Happy</span>

        <h2>
            Make Your Own Package That You Want
            <br>
            Just Dial

            <a href="tel:+977- 986-0739065">(+977) 986-0739065</a> /
            <a href="tel:+977- 9810158390">(+977) 9810158390,</a>

        </h2>

        <a href="#" class="cta-btn">
            Book Reservation <i class="ri-arrow-right-long-line"></i>
        </a>

    </div>

</section>