<section class="call-to-action m-t-80">
    <div class="container pos-rel">
        <div class="call-to-action-inside text-center">
            <h2 class="text-white">We Repair, You Relax. Click <br>
                Below and Lets Fix Your Devices ! </h2>

            <a href="" class="btn btn-secondary btn-contact">Contact us <i class="ms-1 ri-arrow-right-long-line"></i></a>
        </div>

        <img src="../../../assets/img/pattern-1.png" alt="" class="shape shape-1">
        <img src="../../../assets/img/pattern-2.png" alt="" class="shape shape-2">
        <img src="../../../assets/img/shape-2.png" alt="" class="shape shape-3">
        <img src="../../../assets/img/shape-3.png" alt="" class="shape shape-4">
    </div>
</section>