<section class="cta-banner">

  <div class="overlay-call-to-action"></div>

  <div class="container">

    <span
      data-aos="fade-up"
      data-aos-duration="800">
      Our Special Packages Make You Happy
    </span>

    <h2
      data-aos="fade-up"
      data-aos-delay="150"
      data-aos-duration="900">

      Make Your Own Package That You Want
      <br>

      Just Dial

      <a href="tel:+9779860739065">(+977) 986-0739065</a> /
      <a href="tel:+9779810158390">(+977) 9810158390</a>

    </h2>

    <a href="#"
      class="btn btn-white"
      data-aos="zoom-in"
      data-aos-delay="300"
      data-aos-duration="800">

      Book Reservation <i class="ri-arrow-right-long-line"></i>
    </a>

  </div>

</section>