<section class="page-shop-checkout p-t-32">
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Shop</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
        </nav>

        <div class="checkout m-t-64">
            <div class="row">
                <div class="col-lg-7">
                    <h3>Billing Details</h3>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="">First name</label>
                            <input type="text" class="form-control" id="">
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="">Last name </label>
                            <input type="text" class="form-control" id="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="">Company name (optional)</label>
                            <input type="text" class="form-control" id="">
                        </div>


                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="">Email Address </label>
                            <input type="email" class="form-control" id="">
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="">Phone </label>
                            <input type="text" class="form-control" id="">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="">Country </label>
                            <input type="text" class="form-control" id="">
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="">Street address  </label>
                            <input type="text" class="form-control" id="">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="">Town/City </label>
                            <input type="text" class="form-control" id="">
                        </div>

                        <div class="col-md-6 mb-3">
                            <label for="">Postcode / ZIP </label>
                            <input type="text" class="form-control" id="">
                        </div>
                    </div>
                    <div class="create-account">
                        <input id="createAccountCheckbox" type="checkbox" class="create-account-checkbox">
                        <label for="createAccountCheckbox" class="mb-0">Create an account ?</label>
                    </div>
                    <div class="create-account-text m-t-24">
                        Create an account by entering the information below. If you are a returning customer please
                        login at the top of the page.
                    </div>
                    <div class="row m-t-24">
                        <div class="col-md-12 mb-3">
                            <label for="">Account password </label>
                            <input type="text" class="form-control" id="" placeholder="password">
                        </div>
                    </div>
                    <div class="ship-address m-t-24 m-b-32">

                        <h4 class="mb-0">Ship to a different address?</h4>
                        <input id="shipCheckbox" type="checkbox" class="create-account-checkbox">
                    </div>
                    <div class="ship-address-form">
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">First name</label>
                                <input type="text" class="form-control" id="">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="">Last name </label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 mb-3">
                                <label for="">Company name (optional)</label>
                                <input type="text" class="form-control" id="">
                            </div>


                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">Email Address </label>
                                <input type="email" class="form-control" id="">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="">Phone </label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">Country </label>
                                <input type="text" class="form-control" id="">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="">Street address  </label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 mb-3">
                                <label for="">Town/City </label>
                                <input type="text" class="form-control" id="">
                            </div>

                            <div class="col-md-6 mb-3">
                                <label for="">Postcode / ZIP </label>
                                <input type="text" class="form-control" id="">
                            </div>
                        </div>
                    </div>

                    <div class="order-note">
                        <label for="">Order Notes</label>
                        <textarea id="checkout-mess" cols="30" rows="10"
                            placeholder="Notes about your order, e.g. special notes for delivery.">

                        </textarea>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="order-review">
                        <h3>Your order</h3>
                        <table class="shop-table">
                            <tbody>
                                <tr>
                                    <th>Product</th>
                                    <td>Subtotal</td>
                                </tr>
                                <tr>
                                    <td>Checked Hoodies Woo × 1</td>
                                    <td><span class="price-amount clr-dark  font-bold"><span
                                                class="price-currencySymbol">£</span>
                                            165.00 </span></td>
                                </tr>
                                <tr>
                                    <th>Subtotal</th>
                                    <td><span class="price-amount clr-dark  font-bold"><span
                                                class="price-currencySymbol">£</span>165.00</span></td>
                                </tr>
                                <tr>
                                    <th>Shipping</th>
                                    <td>Free Shipping</td>
                                </tr>
                                <tr>
                                    <th>Total</th>
                                    <td><span class="price-amount clr-dark font-bold"><span
                                                class="price-currencySymbol">£</span> 165.00 </span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="payment-method m-t-32">
                        <h3>Payment</h3>
                        <p>All transactions are secure and encrypted.</p>
                        <div class="payment-card">
                            <div class="payment-card-header">
                                <div class="payment-card-header-left clr-dark">
                                    <input type="radio" id="creditCard" class="custom-radio">
                                    <label for="creditCard" class="mb-0"> Credit card</label>
                                </div>
                                <div class="payment-card-header-right">
                                    <img src="../../../../assets/img/payment-methods/visa.svg" alt="">
                                    <img src="../../../../assets/img/payment-methods/discover.svg" alt="">
                                    <img src="../../../../assets/img/payment-methods/mastercard.svg" alt="">
                                    <img src="../../../../assets/img/payment-methods/amex.svg" alt="">


                                </div>
                            </div>
                            <div class="payment-card-body">
                                <div class="row">
                                    <div class="col-md-12 mb-3 pos-rel">
                                        <input type="text" class="form-control" id="" placeholder="Card number">
                                        <i class="ri-lock-line payment-icon"></i>
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id=""
                                            placeholder="Expiration date (MM / YY)">
                                    </div>
                                    <div class="col-md-6 mb-3">
                                        <input type="text" class="form-control" id="" placeholder="Security code">
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="col-md-12 pos-rel">
                                        <input type="text" class="form-control" id="" placeholder="Name on card">
                                        <i class="ri-question-line payment-icon"></i>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="payment-card">
                            <div class="payment-card-header">
                                <div class="payment-card-header-left clr-dark">
                                    <input type="radio" id="payPal" class="custom-radio">
                                    <label for="payPal" class="mb-0">PayPal</label>
                                </div>
                                <div class="payment-card-header-right">
                                    <img width="80px" src="../../../../assets/img/payment-methods/paypal.png" alt="">

                                </div>
                            </div>
                            <div class="payment-card-body">
                                <div class="paypal-icon">
                                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="-252.3 356.1 163 80.9"
                                        class="zjrzY">
                                        <path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"
                                            d="M-108.9 404.1v30c0 1.1-.9 2-2 2H-231c-1.1 0-2-.9-2-2v-75c0-1.1.9-2 2-2h120.1c1.1 0 2 .9 2 2v37m-124.1-29h124.1">
                                        </path>
                                        <circle cx="-227.8" cy="361.9" r="1.8" fill="currentColor"></circle>
                                        <circle cx="-222.2" cy="361.9" r="1.8" fill="currentColor"></circle>
                                        <circle cx="-216.6" cy="361.9" r="1.8" fill="currentColor"></circle>
                                        <path fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="2"
                                            d="M-128.7 400.1H-92m-3.6-4.1 4 4.1-4 4.1"></path>
                                    </svg>
                                </div>

                                <div class="paypal-text text-center m-t-24">
                                    After clicking "Pay with PayPal", you will be redirected to PayPal to complete your
                                    purchase securely.
                                </div>
                            </div>
                        </div>
                        <div class="payment-card">
                            <div class="payment-card-header">
                                <div class="payment-card-header-left clr-dark">
                                    <input type="radio" id="cashDelivery" class="custom-radio">
                                    <label for="cashDelivery" class="mb-0">Cash on delivery</label>
                                </div>
                                <div class="payment-card-header-right">
                                    <img width="40px" src="../../../../assets/img/payment-methods/money.png" alt="">

                                </div>
                            </div>
                            <div class="payment-card-body">

                                You can pay with cash when your order is delivered to your doorstep.
                                Please ensure someone is available to receive the package and make the payment in full.
                                This method is only available for selected locations and order amounts.

                            </div>
                        </div>
                        <button type="submit" class="btn btn-secondary m-t-24">Pay Now</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>