<a href="" class="btn btn-primary"><i class="ri-arrow-left-long-line"></i> Go Back</a>

<section class="register col-10 col-xl-5 mx-auto p-t-32 module">
    <h2 class="m-b-40">Register</h2>
    <form action="">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="">First name</label>
                <input type="text" id="" class="form-control">
            </div>
            <div class="col-md-6 mb-3">
                <label for=""> Last name </label>
                <input type="text" id="" class="form-control">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="">Phone</label>
                <input type="text" id="" class="form-control">
            </div>

            <div class="col-md-6 mb-3">
                <label for="">Shipping Address</label>
                <input type="text" id="" class="form-control">
            </div>
        </div>

        <div class="row">

            <div class="col-md-12 mb-3">
                <label for="">Email</label>
                <input type="text" id="" class="form-control">
            </div>

        </div>



        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="">Password</label>
                <input type="password" id="" class="form-control">
            </div>
            <div class="col-md-6 mb-3">
                <label for="">Confirm Password</label>
                <input type="password" id="" class="form-control">
            </div>
        </div>


        <button type="submit" class="btn btn-secondary w-100 m-t-8">Register Now</button>

        <p class="m-t-12 text-center"> Already have an account? <a routerLink="/login" class="btnLink"> Sign In</a></p>
    </form>
</section>