<section class="testimonials m-t-80">
    <div class="container">

        <div class="section-title text-center m-b-48">
            <div class="sub-title">Testimonials</div>
            <h2 class="main-title">What Our Users Say About Us</h2>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="testimonial">
                    <div class="testimonial-thumb">
                        <img src="../../../assets/img/thumb1.jpg" alt="">
                    </div>
                    <div class="testimonial-body">
                        <div class="testimonial-rating mb-2">
                            <span class="testimonial-rate me-1">4.0</span>
                            <span class="testimonial-star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>
                        </div>
                        <div class="testimonial-body mb-2">
                            I ordered a gaming laptop and received it within 2 days. Everything was neatly packed and
                            worked
                            perfectly right out of the box.
                        </div>
                        <div class="testimonial-post">
                            — Suman R., Pokhara
                        </div>
                    </div>

                </div>

            </div>

            <div class="col-md-6">
                <div class="testimonial">
                    <div class="testimonial-thumb">
                        <img src="../../../assets/img/thumb2.jpg" alt="">
                    </div>
                    <div class="testimonial-body">
                        <div class="testimonial-rating mb-2">
                            <span class="testimonial-rate me-1">4.0</span>
                            <span class="testimonial-star">
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                            </span>
                        </div>
                        <div class="testimonial-body mb-2">
                            I ordered a gaming laptop and received it within 2 days. Everything was neatly packed and
                            worked
                            perfectly right out of the box.
                        </div>
                        <div class="testimonial-post">
                            — Suman R., Pokhara
                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>
</section>


