<section class="testimonial-section m-t-60">

  <div class="container">

    <div class="testimonial-wrapper">

      <!-- VIDEO -->
      <div class="video-box"
        data-aos="fade-right"
        data-aos-duration="900"
        data-aos-delay="100">

        <img src="../../../../assets/img/video.jpg" alt="">

        <div class="play-btn">
          <i class="ri-play-fill"></i>
        </div>

      </div>

      <!-- TESTIMONIAL -->
      <div class="testimonial-card"
        data-aos="fade-left"
        data-aos-duration="900"
        data-aos-delay="200">

        <h3 data-aos="fade-up" data-aos-delay="300">
          Client Testimonials
        </h3>

        <div class="client-icon"
          data-aos="zoom-in"
          data-aos-delay="400">
          <i class="ri-user-3-line"></i>
        </div>

        <p data-aos="fade-up" data-aos-delay="500">
          “The food was absolutely delicious, and the service
          was outstanding. Our guests loved every detail
          of the event.”
        </p>

        <h4 data-aos="fade-up" data-aos-delay="600">
          - Sarah Johnson
        </h4>

      </div>

    </div>

  </div>

</section>