<section class="testimonial-section m-t-60">

    <div class="container">

        <div class="testimonial-wrapper">

            <!-- VIDEO -->

            <div class="video-box">


                <img src="../../../../assets/img/video.jpg" alt="">

                <div class="play-btn">
                    <i class="ri-play-fill"></i>
                </div>

            </div>

            <!-- TESTIMONIAL -->

            <div class="testimonial-card">

                <h3>Client Feed Back</h3>

                <div class="client-icon">
                    <i class="ri-user-3-line"></i>
                </div>

                <p>
                    “The food was absolutely delicious, and the service
                    was outstanding. Our guests loved every detail
                    of the event.”
                </p>

                <h4>- Sarah Johnson</h4>

            </div>

        </div>

    </div>

</section>