@use "sass:color"; // Importing the Sass color module
@use "../abstracts/variables" as vars;

.company-detail {
  background: #fff;
  padding: 20px;
}

.subtitle {
  color: #777;
  margin-bottom: 20px;
}

.profile-section {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 25px;
}

.avatar {
  width: 90px;
  height: 90px;
  background: #f3d9c5;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 6px;
}

// .btn {
//   padding: 8px 16px;
//   border: 1px solid #ccc;
//   background: #eee;
//   cursor: pointer;
//   border-radius: 4px;
//   margin-right: 8px;
// }

.form-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  align-items: flex-end;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group.full-width {
  grid-column: span 2;
}

label {
  margin-bottom: 6px;
  font-size: 14px;
}

label span {
  color: red;
}

// input {
//   padding: 10px;
//   border: 1px solid #ccc;
//   border-radius: 4px;
// }

input[type="file"] {
  padding: 6px;
}

.form-grid {
  max-width: 900px;
}

/* Responsive */
@media (max-width: 600px) {
  .form-grid {
    grid-template-columns: 1fr;
  }

  .form-group.full-width {
    grid-column: span 1;
  }

  .profile-section {
    flex-direction: column;
    align-items: flex-start;
  }
}
