/* #btn================================================== */
@use "sass:color";
@use "../abstracts/variables" as vars;

.btn {
  display: inline-block;
  border: none;
  color: #fff;
  border-radius: 30px;
  height: 40px;
  line-height: 40px;
  padding: 0 1.5em;
}

.btn-white {
  background: #fff;
  color: vars.$secondary-500;

  &:hover {
    color: #fff;
    background: vars.$grey-800;
  }

  &:focus-visible,
  &:active,
  &:focus {
    background: white;
    color: vars.$grey-800;
  }
}

.btn-dark {
  background: vars.$grey-800;
  color: #fff;

  &:hover {
    color: #fff;
    background: vars.$secondary-500;
  }

  &:focus-visible,
  &:active,
  &:focus {
    background: vars.$secondary-500;
    color: #fff;
  }

  &:first-child:active {
    color: #fff;
    background-color: vars.$secondary-500 !important;
    border-color: vars.$secondary-500;
  }
}

.btn-outline-white {
  border: 1px solid #fff;
  color: #fff;

  &:hover {
    color: vars.$grey-500;
    border: 1px solid #fff;
    background: #fff;
  }

  &:focus-visible,
  &:active,
  &:focus {
    background: #fff;
    color: #fff;
  }

  &:first-child:active {
    color: #fff;
    background-color: #fff !important;
    border-color: #fff;
  }
}

.btn-outline-dark {
  border: 1px solid vars.$grey-800;
  color: vars.$grey-800;

  &:hover {
    color: #fff;
    border: 1px solid vars.$grey-800;
    background: vars.$grey-800;
  }

  &:focus-visible,
  &:active,
  &:focus {
    background: vars.$grey-800;
    color: #fff;
  }

  &:first-child:active {
    color: #fff;
    background-color: vars.$grey-800 !important;
    border-color: vars.$grey-800;
  }
}


.btn-primary {
  background: vars.$primary-500;
  transition:
    background 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: #fff;
    background: vars.$primary-600;
  }

  &:focus-visible,
  &:active,
  &:focus {
    background: vars.$primary-600;;
    color: #fff;
  }

  &:first-child:active {
    color: #fff;
    background-color: vars.$primary-600 !important;
    border-color: vars.$primary-600 !important;
  }

  &.clicked {
    animation: clickBounce 0.3s ease;
  }
}



.btn-secondary {
  background: vars.$secondary-500;
  transition:
    background 0.5s cubic-bezier(0.4, 0, 0.2, 1),
    color 0.5s cubic-bezier(0.4, 0, 0.2, 1);

  &:hover {
    color: #fff;
    background: vars.$grey-800;
  }

  &:focus-visible,
  &:active,
  &:focus {
    background: vars.$grey-800;
    color: #fff;
  }

  &:first-child:active {
    color: #fff;
    background-color: vars.$grey-800 !important;
    border-color: vars.$grey-800 !important;
  }

  &.clicked {
    animation: clickBounce 0.3s ease;
  }
}

@keyframes clickBounce {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.95);
  }

  100% {
    transform: scale(1);
  }
}

.btn-danger {
  background: linear-gradient(
    90deg,
    rgba(248, 80, 50, 1) 0%,
    rgba(231, 56, 39, 1) 100%
  );
  color: #fff;

  &:hover {
    color: #fff;
    background: linear-gradient(
      -90deg,
      rgba(248, 80, 50, 1) 0%,
      rgba(231, 56, 39, 1) 100%
    );
  }

  &:focus-visible,
  &:active,
  &:focus {
    background: linear-gradient(
      -90deg,
      rgba(248, 80, 50, 1) 0%,
      rgba(231, 56, 39, 1) 100%
    );
    color: #fff;
  }
}

/*btn size*/
.btn:focus,
button:focus {
  outline: 0;
}

.btn-link {
  text-decoration: none;
  color: vars.$secondary-500;

  &:hover {
    color: vars.$secondary-500;
    text-decoration: underline;
  }
}

.btnLink {
  color: vars.$secondary-500;
  font-weight: 500;

  &:hover {
    text-decoration: underline;
  }
}

.btn-groups {
  display: inline-flex;
  gap: 0.5rem;
}

.btn-outer .select2 {
  width: 100% !important;
}

.btn-sm {
  height: 36px;
  line-height: 36px;
  padding: 0 1em;
}
