@use '../abstracts/variables' as vars;

.product-card {
    text-align: center;
    position: relative;
}

.product-img-holder {
    border: 1px solid vars.$border;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.product-content {
    margin-top: 1rem;
}

.product-title {
    font-weight: bold;
    color: vars.$grey-800;
}

.product-price {
    display: inline-flex;
    gap: 8px;
    margin-top: 8px;
}

.product-price-main {
    font-size: 16px;
    font-weight: bold;
    color: vars.$secondary-500;
}

.product-price-strike {
    text-decoration: line-through;
}

/*cart*/

.product-card:hover .product-action li {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
    visibility: visible;
}

.product-action {
    position: absolute;
    right: 15px;
    top: 10px;
    list-style: none;
}

.product-action li {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
}

.product-action li:not(:last-child) {
    margin-bottom: 15px;
}

.product-action li:nth-child(2) {
    transition-delay: 0.1s;
}

.product-action li:nth-child(3) {
    transition-delay: 0.2s;
}

.product-action li a {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 1px solid #ededed;
    background-color: #fff;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #949392;
}

.product-action li a:hover {
    color: #fff;
    background-color: vars.$secondary-500;
    border-color: vars.$secondary-500;
}