@use '../abstracts/variables' as vars;


.category {
    text-align: center;

    &-img-holder {
        margin: 0 auto;
        height: 120px;
        width: 120px;
        border-radius: 100%;
        border: 1px solid vars.$border;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        transition: 0.3s;
    }

    &-title {
        font-weight: bold;
        color: vars.$grey-800;
    }

    .view-eye {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, 53%);
        color: vars.$grey-800;
        height: 24px;
        width: 24px;
        background: #fff;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        transition: 0.3s;
        opacity: 0;
        visibility: hidden;
    }

    &:hover .view-eye {
        transform: translate(-50%, -50%);
        opacity: 1;
        visibility: visible;
    }

    &:hover &-img-holder {
        border: 1px dashed vars.$grey-500;
    }
}

.mat-mdc-tab-body-content{
    overflow: hidden !important;
}



@media only screen and (max-width: 992px) {
    .grid--4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid--6 {
        grid-template-columns: repeat(3, 1fr);
    }
}



@media only screen and (max-width: 767px) {}


@media only screen and (max-width: 576px) {
    .advert-img {
        img {
            width: 110px;
        }
    }

    .grid--6 {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 0;
    }

    .benefits .grid--4 {
        grid-template-columns: 1fr;
    }
}