// global
@use '../abstracts/variables' as vars;

/* Global scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: vars.$primary-500;
}

::-webkit-scrollbar-thumb {
  background: vars.$primary-500;

  &:hover {
    background: vars.$secondary-500;
  }
}

/* Body-specific scrollbar */
body::-webkit-scrollbar {
  width: 8px;
}

body::-webkit-scrollbar-track {
  background: #fff;
}

body::-webkit-scrollbar-thumb {
  background: vars.$primary-500;
  border-radius: 30px;

  &:hover {
    background: vars.$secondary-500;
  }
}

