@use "../abstracts/variables" as vars;

/* HEADER */

.header {
  font-size: 13px;

  &-top {
    height: 32px;
    line-height: 32px;
    border-bottom: 1px solid vars.$border;
    background: vars.$primary-500;
    color: #fff;
    a {
      color: #fff;
    }
  }

  &-info {
    display: flex;
    gap: 2rem;
  }

  &-text {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 8px;
  }

  &-middle {
    padding: 1rem 0;
  }
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: all 0.3s ease;
}

.logo {
  display: flex;
  gap: 15px;
  align-items: center;
}

.logo img {
  width: 80px;
}

.logo h2 {
  font-size: 32px;
  font-weight: bold;
  line-height: 1.2;
  color: vars.$primary-500;
  letter-spacing: -0.5px;
  margin-bottom: 0;
}

.header-contact {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
}

.contact-box-item {
  display: flex;
  gap: 10px;
  align-items: center;

  p {
    margin-bottom: 0;
  }

  i {
    font-size: 1.5rem;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    color: vars.$primary-500;
    align-items: center;
    border-radius: 100%;
    border: 1px solid vars.$primary-500;
  }

  small {
    font-size: 1rem;
    font-weight: 600;
    color: vars.$grey-500;
  }
}

.contact-box i {
  color: #203a8e;
  font-size: 24px;
}

//Social media
.social-fixed {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.social-fixed a {
  width: 50px;
  height: 50px;
  border-radius: 50%;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;
  font-size: 22px;
  text-decoration: none;

  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
}

.social-fixed a:hover {
  transform: translateX(-5px) scale(1.1);
}

/* Brand Colors */
.facebook {
  background: #1877f2;
}

.youtube {
  background: #ff0000;
}

.instagram {
  background: #e4405f;
}

.whatsapp {
  background: #25d366;
}
