/* HERO */

// .hero-slider {
//   position: relative;
//   height: 650px;
//   overflow: hidden;
// }

.splide__slide {
  border: none !important;
}

.hero-slider {
  .splide__slide {
    height: 500px;
    overflow: hidden;
    border: none !important;
  }
}

.slider-content {
  padding-top: 120px;
  position: absolute;
  height: 100%;
  left: 80px;
  width: 38%;
  top: 0;
  z-index: 100;

  p{
    
    color: #fff;
  }

  h2{
    color: #fff;
  }
}

.hero-slider{
.splide__slide {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }
}

}

// .splide__slide img {
//   width: 100%;
//   height: 300px;
//   object-fit: cover;
//   border-radius: 0;
// }

.splide__slide:first-child .slider-content h2,
.splide__slide:first-child .slider-content p,
.splide__slide:first-child .slider-content .btn {
    opacity: 1;
    transform: translateY(0);
}

.slider-content h2,
.slider-content p,
.slider-content .btn {
    opacity: 0;
    transform: translateY(40px);
}

/* Active slide animations */
.splide__slide.is-active .slider-content h2 {
    animation: slideUpFade 0.8s ease forwards;
}

.splide__slide.is-active .slider-content p {
    animation: slideUpFade 0.8s ease forwards;
    animation-delay: 0.4s;
}

.splide__slide.is-active .slider-content .btn {
    animation: slideUpFade 0.8s ease forwards;
    animation-delay: 0.8s;
}



@keyframes slideUpFade {
    from {
        opacity: 0;
        transform: translateY(40px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

