@use "../abstracts/variables" as vars;

/* MENU SECTION */

.menu-section {
  background: #fff;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.menu-card {
  color: #fff;
  padding: 30px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

.menu-card h3 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #fff;
}

.menu-card span {
  display: block;
  margin-bottom: 20px;
  font-size: 14px;
}

.menu-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border: 4px solid #fff;
  margin-bottom: 20px;
}

.menu-card p {
  line-height: 1.7;
  margin-bottom: 20px;
}

.silver {
  background: #0f7a4d;
}

.gold {
  background: #dc6a48;
}

.diamond {
  background: #305391;
}
