
@use "../abstracts/variables" as vars;
/* RESERVATION */

.reservation-section {
  background: #eef1ff;
  overflow: hidden;
}

.reservation-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

.reservation-image img {
  height: 596px;
  object-fit: cover;
  width: 100%;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
  border: 8px solid #fff;
}

.reservation-form {
  background: #fff;
  padding: 40px;
  border-top-right-radius: 60px;
  border-bottom-left-radius: 60px;
}

.reservation-form input {
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  padding: 0 20px;
  border-radius: 0;
}

.reservation-form select {
  width: 100%;
  height: 40px;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  border-radius: 0;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
  border: 1px solid #ddd !important;
  border-radius: 0;
}

.select2-container--default .select2-selection--multiple {
  border-radius: 0 !important;
  height: 40px;
  line-height: 33px;
  padding-left: 16px;

}
.select2-container--default.select2-container--focus .select2-selection--multiple:focus{
  border-color: vars.$primary-500 !important;
}

.select2-container--default .select2-selection--multiple:focus{
  border-color: vars.$primary-500 !important;
} 

.reservation-form input[type="radio"] {
  height: 32px;
  margin-bottom: 0;
}

.radio-group {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.radio-type {
  display: flex;
  align-items: center;
  gap: 12px;

  label {
    margin-bottom: 0;
  }
}

.reservation-form button {
  background: #203a8e;
  color: #fff;
  border: none;
  padding: 14px 30px;
  border-radius: 40px;
  cursor: pointer;
}