
<div class="error-page m-t-16">
    <div class="container">
        <div class="row">
            <div class=" text-center">
                 <div class="error-content">
                    <div class="error-title">404</div>
                    <h2 class="error-text">Oops... It looks like you ‘re lost !</h2>
                    <p>Oops! The page you are looking for does not exist. It might have been moved or deleted.</p>
                    <a href="" class="btn btn-secondary mt-3">Go Back <i class="ms-1 ri-arrow-right-long-line"></i></a>
                 </div>
            </div>
        </div>
    </div>

</div>