<section class="reservation-section p-tb-60 m-t-60">

    <div class="container">

        <div class="section-header m-b-40">
            <div class="text-center m-b-16">
                <div class="menu-title">
                    <span>Fill Form Here</span>
                </div>
            </div>


            <h2 class="text-center mb-0">
                Reservation Form
            </h2>
        </div>


        <div class="reservation-wrapper">

            <!-- IMAGE -->

            <div class="reservation-image">
                <img src="../../../../assets/img/reserve.jpg" alt="">
            </div>

            <!-- FORM -->

            <form class="reservation-form">

                <input type="text" placeholder="Enter Your Name">

                <input type="email" placeholder="Enter Your Email">

                <input type="text" placeholder="Enter Your Phone Number">

                <input type="date">

                <input type="number" placeholder="Number Of Guest">

                <div class="radio-group">
                    <div class="radio-type">
                        Function Type
                    </div>
                    <div class="radio-type">
                        <label class="d-flex gap-2 align-items-center">
                            <input type="radio" name="type">
                            <span>Party</span>
                        </label>

                        <label class="d-flex gap-2 align-items-center">
                            <input type="radio" name="type">
                            <span>Wedding</span>
                        </label>

                        <label class="d-flex gap-2 align-items-center">
                            <input type="radio" name="type">
                            <span>Conference</span>
                        </label>

                    </div>

                </div>

                <div class="radio-group">
                    <div class="radio-type">
                        Function Type
                    </div>
                    <div class="radio-type">
                        <label class="d-flex gap-2 align-items-center">
                            <input type="radio" name="time">
                            <span>Day</span>
                        </label>

                        <label class="d-flex gap-2 align-items-center">
                            <input type="radio" name="time">
                            <span>Evening</span>
                        </label>
                    </div>

                </div>

                <button type="submit">
                    Send Message
                </button>

            </form>

        </div>

    </div>

</section>