<div class="body-layout admin">
    <div class="row">

        <!-- Product List -->
        <div class="col-lg-9 mb-4">
            <div class="card shadow-sm">
                <div class="card-header d-flex justify-content-between align-items-center pt-0 pe-0">
                    <h3 class="mb-0">Product List</h3>
                </div>

                <div class="card-body px-0">
                    <div class="row">
                        <!-- Product Card -->
                        <div class="col-md-6" *ngFor="let item of productList; let i = index">
                            <div class="product-card-outer">
                                <!-- <div class="badge">{{item.categoryId}}</div> -->
                                <div class="product-card">
                                    <img [src]="item.productImageUrl" class="product-image" alt="Product">
                                    <div class="product-content d-flex justify-content-between align-items-center">
                                        <div class="product-content-left">
                                            <h5 class="mb-2">{{item.productName}}</h5>

                                            <p>  Price: <strong>{{item.price | number:'1.2-2'}}</strong> </p>
                                            <!-- <p class="price">RS {{item.price | number:'1.2-2'}} </p> -->
                                            <p>Stock: <strong>{{item.stockQuantity}}</strong> </p>
                                            <p class="mb-1 text-muted">
                                             <span>Description :</span>    {{item.description}}
                                            </p>
                                        </div>

                                        <div class="d-flex justify-content-between align-items-center">



                                            <div>
                                                <button class="btn btn-sm btn-primary me-2"
                                                    (click)="getProductId(item.id)">
                                                    Edit
                                                </button>
                                                <button class="btn btn-sm btn-danger" (click)="deleteProduct(item.id)">
                                                    Delete
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Product Form -->
        <div class="col-lg-3">
            <div class="card shadow-sm pt-0">
                <div class="card-header">
                    <h5 class="mb-0">Add / Edit Product</h5>
                </div>

                <div class="card-body">
                    <form #productForm="ngForm">

                        <!-- 1. Product Name -->
                        <div class="mb-3">
                            <label class="form-label">Product Name</label>
                            <input type="text" [(ngModel)]="this.service.productsModel.ProductName" name="ProductName"
                                class="form-control" placeholder="Enter product name">
                        </div>


                        <!-- 3. Category -->
                        <div class="mb-3">
                            <label class="form-label">Category</label>
                            <select class="form-select" id="product-category">
                                <option value="">Select Category</option>
                                <option *ngFor="let item of categoryList" [value]="item.id">
                                    {{ item.categoryName }}
                                </option>
                            </select>
                        </div>

                        <!-- 4. Price -->
                        <div class="mb-3">
                            <label class="form-label">Price</label>
                            <input type="number" [(ngModel)]="this.service.productsModel.Price" name="Price"
                                class="form-control" placeholder="Enter price">
                        </div>

                        <!-- 5. Product QTY -->
                        <div class="mb-3">
                            <label class="form-label">Product QTY</label>
                            <input type="text" [(ngModel)]="this.service.productsModel.StockQuantity"
                                name="StockQuantity" class="form-control" placeholder="Enter product qty">
                        </div>


                        <!-- 7. Full Description -->
                        <div class="mb-3">
                            <label class="form-label">Detailed Description</label>
                            <textarea rows="3" class="form-control" [(ngModel)]="this.service.productsModel.Description"
                                name="Description" placeholder="Enter full details" required></textarea>
                        </div>

                        <!-- 8. Product Image -->
                        <div class="mb-3">
                            <label class="form-label">Product Image</label>
                            <input type="file" class="form-control" (change)="onFileSelected($event)">

                            <div *ngIf="imagePreview" class="mt-2 text-center border p-2 rounded">
                                <img [src]="imagePreview" alt="Product Preview"
                                    style="max-height: 120px; object-fit: contain;">
                            </div>
                        </div>

                        <!-- Buttons -->
                        <div class="flex-wrap gap-2 d-flex">
                            <button type="button" class="btn btn-primary flex-grow-1" (click)="saveProduct()"
                                [disabled]="isLoading">
                                <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-1"></span>
                                {{ selectedProductId ? 'Update Product' : 'Save Product' }}
                            </button>

                            <button type="button" class="btn btn-secondary" (click)="reset()" *ngIf="selectedProductId">
                                Cancel
                            </button>
                        </div>

                    </form>
                </div>
            </div>
        </div>

    </div>
</div>